<nz-modal [(nzVisible)]="updateUserRoleModalIsVisible" [nzTooltipTitle]="titleTemp" nzClassName="user-role-modal" nzFooter="nzModalFooter" nzWidth="800" nzClosable="false">

  <form [nzLayout]="'vertical'" autocomplete="off" nz-form>
    <div>

      <!--header info -->
      <div class="row">

        <div class="col-md-6">

          <div class="d-flex m-b-10 p-l-20 p-r-20">

            <nz-avatar class="m-r-10"
                       [nzSrc]="updateUserRoleData.userDetails && updateUserRoleData.userDetails.profilePic ? updateUserRoleData.userDetails.profilePic : ''"
                       [nzShape]="'circle'" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>

            <div class="d-inline-block m-t-5">
              <!-- if first name not available -->
              <a href="mailto:{{updateUserRoleData.userDetails.emailId}}" *ngIf="!updateUserRoleData.userDetails?.firstName" class="text-black-50">
                <i nz-icon nzType="mail" class="font-size-12 p-r-10" theme="outline"></i>{{updateUserRoleData.userDetails.emailId}}
              </a>

              <!-- if first name available -->
              <span *ngIf="updateUserRoleData.userDetails?.firstName">
                <span class="d-block m-b-5 m-t-5 text-gray-light font-size-16">{{updateUserRoleData.userDetails.firstName}} {{updateUserRoleData.userDetails.lastName}}</span>
                <span class="d-block text-black-50 font-weight-light" style="line-height:1.1" *ngIf="updateUserRoleData.userDetails?.firstName"><i nz-icon nzType="mail" class="font-size-12 p-r-10" theme="outline"></i>{{updateUserRoleData.userDetails.emailId}}</span>
              </span>

            </div>

          </div>

        </div>

        <div class="col-md-6">

          <nz-form-item class="p-l-20 p-r-20">

              <nz-form-label>Select Role to Change</nz-form-label>
              <nz-form-control class="issue-type-btn-grp" nzValidatingTip="Please select task type!">
                <nz-button-group nz-dropdown [nzDropdownMenu]="role" nzTooltipPlacement="bottomLeft"
                                 style="width: 100%!important;">
                  <button type="button" nzType="default" nzSize="default" class="ddls-btn" nz-button>
                    {{selectedUserRole?.name}} <i nz-icon nzType="caret-down" theme="outline"></i>
                  </button>
                </nz-button-group>
                <nz-dropdown-menu #role="nzDropdownMenu">
                  <ul nz-menu>
                    <li nz-menu-item *ngFor="let item of roleListDataSource" (click)="selectRole(item)">
                       {{ item.name }}
                    </li>
                  </ul>
                </nz-dropdown-menu>
                <p *ngIf="selectedUserRole?.description" class="m-t-10 m-b-0 font-weight-bold font-size-12"><span class="font-weight-light">{{selectedUserRole.description}}</span></p>
              </nz-form-control>

            </nz-form-item>

        </div>

      </div>
      <!-- end header info -->

      <!-- permission list binding -->
        <nz-form-item class="collapse-panel">
          <nz-form-label>Access</nz-form-label>

          <nz-collapse nzAccordion>

            <nz-collapse-panel *ngFor="let key of permissionsObj | keys; let ind = index;"  [nzHeader]="key" [nzShowArrow]="true" [nzActive]="(ind === 0 ? true : false)">

              <div class="p-b-10" nz-col nzSpan="8" *ngFor="let item of permissionsObj[key]; let index">
                <label class="text-capitalize" nz-checkbox [ngModelOptions]="{standalone: true}" [nzDisabled]="true" [nzValue]="item.value" [(ngModel)]="item.checked">{{item.name}}</label>
              </div>

            </nz-collapse-panel>

          </nz-collapse>

        </nz-form-item>
      <!-- end permission list binding -->

    </div>

    <div *nzModalFooter>
      <button nz-button type="button" nzSize="small" nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button type="button" nzType="primary" (click)="saveAccess()" [disabled]="!updateUserRoleData?.userId" [nzLoading]="updateRequestInProcess" nzSize="small">
        {{updateUserRoleData?.userId ? 'Save' : 'Add'}}
      </button>
    </div>

    <ng-template #titleTemp>
      <span>{{updateUserRoleData?.userId ? 'Change Role' : 'Add Role'}}</span>
    </ng-template>

  </form>
</nz-modal>
