@import url('../../../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url('../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import './scss/app.scss';
@import './scss/aavantan-app.scss';
@import 'scss/design-v2';


/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}
/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}




// Fonts
@font-face {
  font-family: 'Avenir';
  font-weight: 300;
  src: url("assets/fonts/Avenir-Book.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir';
  font-weight: 400;
  src: url("assets/fonts/Avenir-Roman.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir';
  font-weight: 500;
  src: url("assets/fonts/Avenir-Medium.ttf") format("truetype");
}

@font-face {
  font-family: 'Avenir';
  font-weight: 900;
  src: url("assets/fonts/Avenir-Heavy.ttf") format("truetype");
}

body {
  font-family: Avenir, sans-serif;
}
