@import "../../../../scss/custom_variable";

.aw-status-dropdown {
  background: $lighter-blue;
  border-radius: 4px;
  padding: 5px 0px 6px 10px;
  width: 260px;
  display: inline-flex;

  .ant-btn-default {
    background: transparent !important;
    padding: 0px !important;
    min-width: 60px!important;
    width: 60px!important;
    img {
      margin-top: -1px;
    }
  }

  .badges {
    background: transparent !important;
    padding: 0px !important;
    display: inline-flex;
  }

  .aw-badge {
    background: #EBEDF3;
    color: #2E67EA;
    font-size: 10px;
    border-radius: 15px;
    padding: 3px 0px 3px 10px;
    margin-right: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .aw-badge-text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 45px;
      display: inline-block;
      line-height: 12px;
    }

    .aw-badge-close {
      padding: 0px 10px 0px 5px;
      line-height: 12px;
    }
  }

  .aw-badge-count {
    padding: 3px;
    min-width: 20px;
    margin-right: 0px;
    line-height: 12px;
  }

  .aw-reset-status.ant-dropdown-menu-item:hover,
  .aw-reset-status.ant-dropdown-menu-item:focus,
  .aw-reset-status.ant-dropdown-menu-submenu-title:hover,
  .aw-reset-status.ant-dropdown-menu-submenu-title:focus {
    color:#2E67EA;
    background: $lighter-blue;
    height: 30px!important;
    line-height: 15px!important;
  }

  .aw-status-dropdown-list {
    .ant-dropdown-menu-item:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .ant-dropdown-menu-item:last-child{
      border-bottom: none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}
