<div class="aw-status-dropdown">
  <nz-button-group nzTrigger="click" nz-dropdown [nzDropdownMenu]="awStatusDDL" nzPlacement="bottomLeft" >
    <button nz-button class="d-inline-flex">
      <img src="../../../../assets/images/icons/filter.svg" /> <span class="text-black1 font-size-12 font-weight-bold p-l-5">Status</span>
    </button>
    <div class="badges">
        <span class="aw-badge"><span class="aw-badge-text">In Developmemt</span><span class="aw-badge-close"><img src="../../../../assets/images/icons/close-small.svg" /></span></span>
        <span class="aw-badge"><span class="aw-badge-text">In Developmemt</span><span class="aw-badge-close"><img src="../../../../assets/images/icons/close-small.svg" /></span></span>
        <span class="aw-badge aw-badge-count">+14</span>
    </div>
  </nz-button-group>

  <nz-dropdown-menu #awStatusDDL="nzDropdownMenu">
    <ul nz-menu class="aw-status-dropdown-list" style="width:165px; margin-top: 12px; margin-left: -10px; max-height: 250px!important;overflow: auto!important;padding-bottom: 35px">
      <li *ngFor="let item of statusList;" nz-menu-item class="d-flex justify-content-between">
        <span class="font-size-12">{{item.label}}</span>
        <span *ngIf="item.checked"><img src="../../../../assets/images/icons/blue-check.svg" /></span>
      </li>

    </ul>
    <ul nz-menu style="width:165px; height: 30px; background: #F7F8FB;border-top-right-radius:0px;  border-top-left-radius:0px; position: absolute; bottom: 0px; left:-10px; padding:0px;box-shadow: none;">
      <li class="aw-reset-status font-size-10" (click)="resetStatus()" nz-menu-item><span><img src="../../../../assets/images/icons/blue-reset.svg" class="m-r-5"/>Reset</span></li>
    </ul>
  </nz-dropdown-menu>

</div>
