<!-- input project members -->
<!-- 10 avatar will display front and rest will show on dropdown with + icon -->
<span *ngIf="projectMembers?.length>0">

  <span class="collaborators-avatar" *ngFor="let user of projectMembers | slice:0:5;">

    <nz-avatar (click)="selectMember(user)" *ngIf="!user?.userDetails.profilePic"
               nzText="{{(user?.userDetails?.firstName ? user?.userDetails?.firstName : user?.userDetails?.emailId) | slice : 0:1}}"
               ngClass="{{user?.userDetails?.isSelected ? 'selected-user' : ''}}"
               [nzSize]="avatarSize" nzTooltipTitle="{{user?.userDetails?.firstName}}" nzTooltipPlacement="top" nz-tooltip
               class="bg-info"></nz-avatar>

    <nz-avatar (click)="selectMember(user)" *ngIf="user?.userDetails.profilePic" nzIcon="user" [nzSize]="avatarSize"
               ngClass="{{user?.userDetails?.isSelected ? 'selected-user' : ''}}"
               nzTooltipTitle="{{user?.userDetails?.firstName ? user?.userDetails?.firstName : user?.userDetails?.emailId}}"
               nzTooltipPlacement="top" nz-tooltip nzSrc="{{user?.userDetails?.profilePic}}"></nz-avatar>

  </span>

  <nz-avatar *ngIf="projectMembers?.length>5"
             [nzSize]="avatarSize"
             nz-dropdown [nzDropdownMenu]="menu" [nzTooltipPlacement]="'bottomRight'"
             nzText="{{projectMembers?.length - 5}}+" class="bg-info"></nz-avatar>

    <span class="show-and-clear-btn" *ngIf="isAssigneeFilterApplied">
      <a class="cursor-pointer text-primary m-r-5 m-l-10 small" (click)="clearAssigneeFilter()" href="javascript: void 0">
      Clear
      </a>
    </span>

</span>

<!-- dropdown after 10th item -->
<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li (click)="selectMember(user)" nz-menu-item
        *ngFor="let user of projectMembers | slice:5:projectMembers.length;"
        class="collaborators-avatar p-l-10 p-b-5">

      <nz-avatar *ngIf="!user?.userDetails.profilePic"
                 [nzSize]="avatarSize"
                 class="text-uppercase text-center"
                 nzText="{{(user?.userDetails?.firstName ? user?.userDetails?.firstName : user?.userDetails?.emailId) | slice : 0:1}}"
                 ngClass="{{user?.userDetails?.isSelected ? 'selected-user' : ''}}"></nz-avatar>

      <nz-avatar *ngIf="user?.userDetails.profilePic" nzIcon="user"
                 class="text-uppercase" [nzSize]="avatarSize"
                 ngClass="{{user?.userDetails?.isSelected ? 'selected-user' : ''}}"
                 nzSrc="{{user?.userDetails?.profilePic}}"></nz-avatar>
      <span
        class="p-l-5">{{user?.userDetails?.firstName ? user?.userDetails.firstName : user?.userDetails?.emailId}}</span>
    </li>
  </ul>
</nz-dropdown-menu>
