<nz-modal [(nzVisible)]="addStatusModalIsVisible" [nzTooltipTitle]="titleTemp" nzClassName="status-modal" nzFooter="nzModalFooter" nzWidth="400" nzClosable="false">
  <form [nzLayout]="'vertical'" autocomplete="off" nz-form (submit)="addStatus()" [formGroup]="statusForm">
    <div>

      <nz-form-item>
        <nz-form-label>Status<span class="text-danger">*</span>&nbsp;<small style="letter-spacing: 0;">(color and
          title)</small></nz-form-label>

        <nz-form-control class="color-control-section">
          <nz-input-group [nzAddOnBefore]="profixIconButton">
            <input class="task-type-input" maxlength="30" type="text" nzSize="small" formControlName="name" nz-input
                   placeholder="eg: TODO"/>
          </nz-input-group>

          <ng-template #profixIconButton>

            <div [ngStyle]="{'background':primaryColor}" (click)="toggleColor()" class="picker-btn">
            </div>
            <div *ngIf="showColorBox" class="picker-container">
              <color-sketch [color]="primaryColor"
                            (onChangeComplete)="changeComplete($event)"></color-sketch>

              <div class="color-picker-footer">
                <button nz-button type="button" nzType="primary" (click)="toggleColor()">Done</button>
                <button nz-button type="button" nzType="default" (click)="clearColor()">Cancel</button>
              </div>

            </div>

          </ng-template>

        </nz-form-control>

      </nz-form-item>

      <nz-form-item>

        <nz-form-label>Status Description</nz-form-label>
        <nz-form-control>
          <textarea nz-input nzSize="small" formControlName="description" maxlength="250"
                    placeholder="Enter Status Description" rows="5"></textarea>
        </nz-form-control>

      </nz-form-item>

    </div>
    <div *nzModalFooter>
      <button nz-button nzSize="small" nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="addStatus()" [disabled]="statusForm.invalid" [nzLoading]="updateRequestInProcess" nzSize="small">
        {{addEditprojectStatusData?.id ? 'Save' : 'Add'}}
      </button>
    </div>
    <ng-template #titleTemp>
      <span>{{addEditprojectStatusData?.id ? 'Edit Status' : 'Add Status'}}</span>
    </ng-template>
  </form>
</nz-modal>
