<nz-card
  nzSize="small"
  [nzBordered]="false"
  [nzTitle]="titleTemplateRef"
  [nzExtra]="createSprintBtnTemplate"
  [nzLoading]="getReportInProcess"
  class="backlog-page">

  <ng-template #titleTemplateRef>

    <span class="p-r-30">
      <span class="p-r-15 font-size-18 text-black">Sprint Report</span>
      <img src="../../../assets/images/icons/info.svg" height="16" nz-tooltip nzTooltipTitle="About Sprint Report..."/>
    </span>

  </ng-template>

  <ng-template #createSprintBtnTemplate>

    <div class="text-gray-light-2 font-size-12 p-t-5 font-weight-light inline-block">
      <span>12-Dec-2019</span>
      <span class="p-r-5 p-l-5">|</span>
      <span>11:47 AM IST</span>
    </div>


    <nz-button-group nz-dropdown [nzDropdownMenu]="taskContextMenu" nzPlacement="bottomLeft" class="m-l-15">
      <button type="button" nzType="default" nzSize="default" class="ddls-btn" nz-button>
        {{selectedSprint?.name ? selectedSprint?.name : 'Sprint 1'}}
        <i nz-icon nzType="caret-down" theme="outline"></i>
      </button>
    </nz-button-group>
    <nz-dropdown-menu #taskContextMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>Sprint 2</li>
        <li nz-menu-item>Sprint 3</li>
        <li nz-menu-item>Sprint 4</li>
        <!--        <li nz-menu-item *ngFor="let item of sprintDataSource" (click)="selectSprint(item)">-->
        <!--           {{ item.name }}-->
        <!--        </li>-->
      </ul>
    </nz-dropdown-menu>

  </ng-template>

  <!-- sprint summary -->
  <section class="m-b-30" *ngIf="sprintReport && sprintReport.sprint">

    <label class="text-black-dark font-weight-semibold">Sprint Summary</label>

    <div class="box-summary">

      <div class="row">

        <div class="col-md-5">
          <label class="text-gray-light font-weight-semibold">{{ sprintReport.sprint.name }}</label>
          <p class="p-r-40 text-black">{{ sprintReport.sprint.goal }}</p>
        </div>

        <div class="col-md-7">

          <div class="row">
            <div class="col-md-5">
              <label class="text-gray-light font-weight-semibold">Duration</label>
              <p class="text-black">{{ sprintReport.sprint.startedAt | date: 'dd-MMM-yyyy' }} to
                {{ sprintReport.sprint.endAt | date: 'dd-MMM-yyyy' }}</p>
              <p class="text-gray-light-2 m-t-5">{{ sprintReport.sprintDuration }} Sprint</p>
            </div>

            <div class="col-md-4">
              <label class="text-gray-light font-weight-semibold">Velocity</label>
              <p class="text-black">28</p>
            </div>

            <div class="col-md-3">
              <label class="text-gray-light font-weight-semibold">Status</label>
              <div>
                <nz-tag [nzColor]="'#FF1142'">Red</nz-tag>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!-- sprint progress -->
  <section class="m-t-30 m-b-30 sprint-progress" *ngIf="sprintReport && sprintReport.sprint">

    <label class="text-gray-light">Sprint Progress</label>

    <div class="row">

      <div class="col-md-6">
        <span class="text-green">{{ sprintReport.sprint.progress }}% Completed</span>
        <nz-progress [nzPercent]="sprintReport.sprint.progress" nzStrokeColor="#42E3A3" nzStrokeLinecap="square"
                     nzStrokeWidth="14"
                     [nzShowInfo]="false"></nz-progress>
        <div class="row font-size-12 m-t-5">
          <div class="col-md-6">
            <span><span class="font-weight-bold">28</span> of 49 points gained</span>
          </div>
          <div class="col-md-6 text-right">
            <span><span class="font-weight-bold">{{ sprintReport.finishedTasksCount }}</span> of
              {{ sprintReport.reportTasksCount }} items done</span>
          </div>
        </div>
      </div>

    </div>

  </section>

  <!-- sprint items all items/ unfinished items -->
  <section class="m-t-30 m-b-30 items-summary-section" *ngIf="sprintReport">

    <label class="text-black-dark">Item Summary</label>

    <div class="items-summary">

      <nz-table #itemsSummaryTable [nzFrontPagination]="false" [nzData]="itemsSummary">

        <thead>

        <tr>

          <th>Status</th>
          <th class="text-right p-l-0">Items</th>
          <th class="text-right">Estimation</th>
          <th class="text-right">Logged</th>
          <th class="text-right">Remaining</th>

        </tr>
        </thead>

        <tbody>

        <tr *ngFor="let data of sprintReport.allTasks">
          <td data-label="Status" class="p-l-0">
            <nz-tag [nzColor]="'#F1F2F4'" class="text-black font-weight-semibold">{{ data.status?.name }}</nz-tag>
          </td>
          <td data-label="Items" class="text-right">{{ data?.count }}</td>
          <td data-label="Estimation" class="text-right">{{ data.totalEstimatedTimeReadable }}</td>
          <td data-label="Logged" class="text-right">{{ data.totalLoggedTimeReadable }}</td>
          <td data-label="Remaining" class="text-right">{{ data.totalRemainingTimeReadable }}</td>
        </tr>

        </tbody>


      </nz-table>

      <table class="w-100 items-summary-footer">
        <thead>
        <tr>
          <th>Total</th>
          <th class="text-right">{{ sprintReport.allTasksCount }}</th>
          <th class="text-right">{{ sprintReport.allTaskTotalEstimatedTimeReadable }}</th>
          <th class="text-right">{{ sprintReport.allTaskTotalLoggedTimeReadable }}</th>
          <th class="text-right">{{ sprintReport.allTaskTotalRemainingTimeReadable }}</th>
        </tr>
        </thead>
      </table>


    </div>

    <!-- budget -->
    <div class="m-t-20">
      <div class="w-btn inline-block">
        <nz-tag [nzColor]="'#FFEFEF'" class="font-size-13 font-weight-semibold text-red">Budget</nz-tag>
      </div>
      <div class="inline-block text-red">Overrun by approximately : 22.45%</div>
    </div>
    <div class="m-t-5">
      <div class="w-btn inline-block">
        <nz-tag [nzColor]="'#FFEFEF'" class="font-size-13 font-weight-semibold text-red">Schedule</nz-tag>
      </div>
      <div class="inline-block text-red">Need more : 2.35 days</div>
    </div>

  </section>

  <!-- recommended actions -->
  <section class="m-t-30 m-b-30">

    <label class="text-black-dark">Recommended Actions</label>

    <div class="recommended-actions p-l-20 m-b-30 text-black font-weight-normal">
      <ul>
        <li>Review items ST1, ST2, ST7. Huge effort deviation should be analysed.</li>
        <li>13 - Dec is holiday, Increase capacity on 11 - Dec and 12 - Dec to meet the schedule.</li>
        <li>Moving "Not Started" items in next sprint can be helpful.</li>
      </ul>
    </div>

    <div class="row">
      <div class="col-md-6">

        <div class="chart-box w-100">
          <div class="text-black font-size-16">Efforts spent in hours per day</div>
          <div class="text-gray-light-2 font-size-12">Day 10 is in progress</div>

          <div id="line-chart" class="m-t-10">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="lineChartOptions"
            ></highcharts-chart>
          </div>

        </div>

      </div>
      <div class="col-md-6">

        <div class="chart-box w-100">

          <div id="column-chart">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="columnChartOptions"
            ></highcharts-chart>
          </div>

        </div>

      </div>
    </div>

  </section>

  <!-- sprint members -->
  <section class="m-t-30 m-b-30 items-summary-section" *ngIf="sprintReport">

    <label class="text-black-dark">Sprint Members</label>

    <div class="items-summary">

      <nz-table [nzFrontPagination]="false" [nzData]="sprintReport.reportMembers">

        <thead>

        <tr>

          <th>Name</th>
          <th>Capacity</th>
          <th>Assigned Time</th>
          <th>Worked</th>
          <th>Remaining Work</th>
          <th>Remaining Capacity</th>
          <th>Productivity</th>

        </tr>

        </thead>

        <tbody>

        <tr *ngFor="let item of sprintReport.reportMembers">
          <td data-label="Name">{{ item.user.firstName }} {{ item.user.lastName }}</td>
          <td data-label="Capacity">{{ item.workingCapacityReadable }}</td>
          <td data-label="Assigned Time">{{ item.totalAssignedTimeReadable }}</td>
          <td data-label="Worked">{{ item.totalLoggedTimeReadable }}</td>
          <td data-label="Remaining Work">{{ item.totalRemainingTimeReadable }}</td>
          <td data-label="Remaining Capacity">{{ item.totalRemainingWorkingCapacityReadable }}</td>
          <td data-label="Productivity">{{ item.sprintProductivity }} %</td>
        </tr>

        </tbody>

      </nz-table>

      <table class="w-100 items-summary-footer">
        <thead>
        <tr>
          <th>Total</th>
          <th>{{ sprintReport.reportMembersTotalWorkingCapacityReadable }}</th>
          <th>{{ sprintReport.reportMembersTotalAssignedTimeReadable }}</th>
          <th>{{ sprintReport.reportMembersTotalLoggedTimeReadable }}</th>
          <th>{{ sprintReport.reportMembersTotalRemainingTimeReadable }}</th>
          <th>{{ sprintReport.reportMembersTotalRemainingWorkingCapacityReadable }}</th>
          <th>{{ sprintReport.reportMembersTotalSprintProductivity }} %</th>
        </tr>
        </thead>
      </table>

    </div>


  </section>

  <!-- all task of the sprint -->
  <section class="m-t-30 m-b-30 items-summary-section" *ngIf="sprintReport">

    <label class="text-black-dark">Sprint Items</label>

    <div class="sprint-items">

      <nz-table #sprintItemsTable [nzFrontPagination]="false" [nzData]="sprintReport.reportTasks">

        <thead>

        <tr>

          <th>Item ID</th>
          <th>Status</th>
          <th>Item Name</th>
          <!--          <th>Start Date</th>-->
          <th>Assignee</th>
          <!--          <th class="text-right">Effort Deviation</th>-->

        </tr>

        </thead>

        <tbody>

        <tr *ngFor="let data of sprintReport.reportTasks">
          <td data-label="Item ID">{{ data.displayName }}</td>
          <td data-label="Status">
            <nz-tag [nzColor]="'#F1F2F4'" class="text-black font-weight-semibold">{{ data.status.name }}</nz-tag>
          </td>
          <td data-label="Item Description">{{ data.name }}</td>
          <!--          <td data-label="Start Date">{{ data.createdAt }}</td>-->
          <td data-label="Assignee">{{ data.assignee.firstName }} {{ data.assignee.lastName }}</td>
          <!--          <td data-label="Effort Deviation" class="text-right"-->
          <!--              [ngClass]="60 >=50 ? 'text-red' : ''">80</td>-->
        </tr>

        </tbody>


      </nz-table>


    </div>


  </section>

</nz-card>
