<nz-modal
  [(nzVisible)]="closeSprintModalIsVisible"
  nzTooltipTitle="Close Sprint" nzOkText="Submit" nzMaskClosable="false"
  [nzWidth]="900" nzCancelText="Cancel" (nzOnOk)="closeSprint()" [nzOkLoading]="sprintCloseInProcess"
  nzClassName="close-sprint-modal-confirm-box"
  (nzOnCancel)="handleCancel()">

  <div>
    <nz-radio-group [(ngModel)]="closeSprintModeSelection" style="width: 100%;">

      <div class="row m-b-10">
        <div class="col-md-9">
          <label nz-radio nzValue="createNewSprint">Create new sprint and move all open items into it</label>
        </div>
        <div class="col-md-3">

        </div>
      </div>

      <form [nzLayout]="'vertical'" *ngIf="closeSprintModeSelection === 'createNewSprint'" [formGroup]="closeSprintNewSprintForm"
            autocomplete="off" nz-form>
        <ng-container>
          <section class="draft-sprint-box">

            <div class="steps-content row">

              <div class="col-md-7 col-sm-12">
                <nz-form-item>
                  <nz-form-label>Title<span class="text-danger">*</span></nz-form-label>
                  <input nz-input formControlName="name" placeholder="Enter Sprint Title" nzSize="small"
                         maxlength="50"/>
                </nz-form-item>
              </div>

              <div class="col-md-5 col-sm-12">
                <nz-form-item>
                  <nz-form-label>Duration (Start - End Date)<span class="text-danger">*</span></nz-form-label>
                  <div class="sprint-duration-datepicker">
                    <nz-range-picker formControlName="duration" [nzFormat]="dateFormat"></nz-range-picker>
                  </div>
                </nz-form-item>
              </div>


              <div class="col-md-12">
                <nz-form-item class="m-0">
                  <nz-form-item>
                    <nz-form-label nzFor="description">Goal</nz-form-label>
                    <nz-form-control>
                      <quill-editor
                        formControlName="goal"
                        placeholder="Enter Sprint Goal (max 250 character)"
                        [modules]="quillConfig"
                        (onSelectionChanged)="onSelectionChanged($event)"
                        (onContentChanged)="onContentChanged($event)"></quill-editor>
                    </nz-form-control>
                  </nz-form-item>
                </nz-form-item>
              </div>

              <div class="col-md-12 m-t-5">
                <nz-form-item>
                  <label nz-checkbox formControlName="updateMemberCapacity">Update Member Capacity ?</label>
                </nz-form-item>

                <div *ngIf="closeSprintNewSprintForm.get('updateMemberCapacity').value">
                  <aavantan-team-capacity [sprintData]="activeSprintData"></aavantan-team-capacity>
                </div>
              </div>

              <div class="col-md-12">
                <nz-form-item class="m-0">
                  <label nz-checkbox formControlName="createAndPublishNewSprint">Publish New Sprint ?</label>
                </nz-form-item>
              </div>

            </div>

          </section>
        </ng-container>

      </form>

      <hr class="m-t-15 m-b-0">

      <div class="row">
        <div class="col-md-9 col-sm-7 p-t-20">
          <label nz-radio nzValue="moveToBacklog">Move all open items of this sprint to Backlog!</label>
        </div>
      </div>

    </nz-radio-group>

  </div>

  <div *nzModalFooter>
    <button nz-button nzSize="small" nzType="default" (click)="handleCancel()">
      Cancel
    </button>
    <button
      nz-button
      nzSize="small"
      nzType="primary"
      (click)="closeSprint()"
      [nzLoading]="sprintCloseInProcess"
    >
      Close Sprint
    </button>
  </div>

  <ng-template #titleTemp>
    <span>{{ activeSprintData?.name }}</span>
  </ng-template>

</nz-modal>
