/* modal css customized */
nz-modal {
  .ant-modal-body {
    padding: 1rem;
    .ant-steps-item-title{
      font-size: 12px;
    }
  }
}

.ant-input{
  border: 1px solid #d1d9e4;
}
.ant-checkbox-inner {
  border: 1px solid #dee8f7;
}
.ant-btn-sm {
  font-size: 13px!important;
  border-radius: 3px;
}
.ant-form-item-label{
  line-height: 22px;
}
.ant-form-item{
  margin-bottom: 15px;
}
.ant-tabs-bar{
  margin-bottom: 10px;
}

.ant-empty{
  margin-bottom: 25px;
}

/* custom css*/
.min-height-100{
  min-height: 100px;
}
.collaborators-badge{
  .badge{
    font-weight: 400;
    border-radius: 2px;
    margin-right: 2px;
    i.fa-times {
      margin: 3px;
      margin-left: 10px;
      cursor: pointer;
    }
  }
}


