// Custom Color
$custom-1: #fff !default;

// Start with assigning color names to specific hex values.

$brand-default-btn: #F1F2F4;
$border: #DEDFE2;
$orange-dark: #FF5757;
$orange-light:#FF941A;
$theme-blue:#0667FB;
$theme-blue-hover: #0053D1;
$theme-blue-selected: #0044AC;
$side-nav-bg :#EEF4FC;
$board-card-header: #f7f7f7;
$board-card-body: #f7f7f7;
$color-black:#333333;
$color-black-dark:#000000;
$color-red:#F82222;
$color-gray-light: #00255B;
$menu-color:#Cbe3ff;
$very-light-gray:#F7F7F7;
$dark-blue-black:#0B1B31;
$color-gray-light-1:#475364;
$color-gray-light-2:#7A869A;
$color-gray-light-3:#6E829C;
$color-green : #42E3A3;
$color-green-1:#0bbc4a;
$body-bg-color: #ffffff;
$text-black: #111111;
