.ant-menu-item-header{
  font-weight: 500;
  margin-top: 30px;
  background: #ecf3fe;
}
.ant-menu-inline .ant-menu-item{
  margin-top: 0px;
}
.btn-new-task{
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 5px;
  height: 35px;
  background: #f28e3e;
  color: #fff;
  border: #f28d3e;
  font-weight: 500;
}
