.menu-mask {
  background: url("../../../../assets/images/others/menu-mask.svg")no-repeat bottom right;
  height: 100vh;
  background-position-y: 70%;
  background-position-x: 35%;
}
.ant-menu-item-header{
  font-weight: 500;
  margin-top: 30px;
  background: #ecf3fe;
}
.ant-menu-inline .ant-menu-item{
  margin-top: 0px;
  margin-bottom: 15px;
}
.img-menu-svg span {
  min-height: 20px;
  width: 30px;
  display: inline-block;
  margin-bottom: -5px;
}

.btn-floating-container{
  position: fixed;
  z-index: 9999;
  bottom: 15px;
  left: 14px;
  .btn-floating {
    margin-top: 15px;
    cursor: pointer;
    background: #ffffff20;
    color: #fff;
    border: #578dd8;
    min-width: 38px;
    font-weight: 300;
    width: 38px;
    height: 38px;
    font-size: 2rem !important;
    border-radius: 8px;
    padding: 0px !important;
    line-height: 32px;
  }
}

.icon-org {
  color: #0B1B31;
  margin: 15px 13px;
  font-size: 0.875rem;
  text-align: center;
  background: #EEF4FC 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 10px #0000000D;

}
.icon-org-list{
  background: #EEF4FC;
  color: #0B1B31;
  margin: 15px 13.5px;
  font-size: 0.75rem;
  text-align: center;
}

.selected-org-check {
  margin-top: 9px;
}

.org-menu-items {
  min-width: 260px;
  max-width: 300px;
  li {
    width: 100%;
  }
}
.org-name{
  position: relative;
  padding-bottom: 1px !important;
  //background: #0B1B31;
  i{
    position: absolute;
    top: 28px;
    right: 18px;
    color: #fff;
  }
}


.ant-dropdown.nz-dropdown {
  left: -6px!important;
}

.ant-dropdown-menu {
  padding: 0px 0;
}

.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
  padding: 0.5rem 1rem;
  line-height: 1;
  border-bottom: 1px solid #ddd;
  padding-bottom: 6px;
}

.loader-org {
  height: 100vh;
  position: absolute;
  width: 100%;
  z-index: 999999;
  background: #ffffff9e;
}

.ant-avatar-square{
  border-radius: 8px;
}

/* menu items */
.img-menu-svg {
  .menu-home{
    background: url("../../../../assets/images/icons/home.svg")no-repeat center center;
    background-size: 20px;
    &:hover{
      background: url("../../../../assets/images/icons/white-home.svg")no-repeat center center;
    }
  }
  .menu-project{
    background: url("../../../../assets/images/icons/project.svg")no-repeat center center;
    background-size: 20px;
    &:hover{
      background: url("../../../../assets/images/icons/white-project.svg")no-repeat center center;
    }
  }
  .menu-board{
    background: url("../../../../assets/images/icons/board.svg")no-repeat center center;
    background-size: 20px;
    &:hover{
      background: url("../../../../assets/images/icons/white-board.svg")no-repeat center center;
    }
  }
  .menu-active-sprint{
    background: url("../../../../assets/images/icons/active-sprint.svg")no-repeat center center;
    background-size: 20px;
    &:hover{
      background: url("../../../../assets/images/icons/white-active-sprint.svg")no-repeat center center;
    }
  }
  .menu-backlogs{
    background: url("../../../../assets/images/icons/backlogs.svg")no-repeat center center;
    background-size: 20px;
    &:hover{
      background: url("../../../../assets/images/icons/white-backlogs.svg")no-repeat center center;
    }
  }
  .menu-settings{
    background: url("../../../../assets/images/icons/settings.svg")no-repeat center center;
    background-size: 20px;
    &:hover{
      background: url("../../../../assets/images/icons/white-settings.svg")no-repeat center center;
    }
  }
}

.ant-menu-item-selected{
  .menu-home{
    background: url("../../../../assets/images/icons/white-home.svg")no-repeat center center;
    background-size: 20px;
  }
  .menu-project{
    background: url("../../../../assets/images/icons/white-project.svg")no-repeat center center;
    background-size: 20px;
  }
  .menu-board{
    background: url("../../../../assets/images/icons/white-board.svg")no-repeat center center;
    background-size: 20px;
  }
  .menu-active-sprint{
    background: url("../../../../assets/images/icons/white-active-sprint.svg")no-repeat center center;
    background-size: 20px;
  }
  .menu-backlogs{
    background: url("../../../../assets/images/icons/white-backlogs.svg")no-repeat center center;
    background-size: 20px;
  }
  .menu-settings{
    background: url("../../../../assets/images/icons/white-settings.svg")no-repeat center center;
    background-size: 20px;
  }
}
