.menu-mask {
  background: url("../../../../assets/images/others/menu-mask.svg")no-repeat bottom right;
  height: 100vh;
}
.ant-menu-item-header{
  font-weight: 500;
  margin-top: 30px;
  background: #ecf3fe;
}
.ant-menu-inline .ant-menu-item{
  margin-top: 0px;
}
.img-menu-svg span {
  min-height: 20px;
  width: 30px;
  display: inline-block;
  margin-bottom: -5px;
}

/* menu items */
.img-menu-svg {
  .menu-home{
    background: url("../../../../assets/images/icons/home.svg")no-repeat center center;
    &:hover{
      background: url("../../../../assets/images/icons/white-home.svg")no-repeat center center;
    }
  }
  .menu-project{
    background: url("../../../../assets/images/icons/project.svg")no-repeat center center;
    &:hover{
      background: url("../../../../assets/images/icons/white-project.svg")no-repeat center center;
    }
  }
  .menu-board{
    background: url("../../../../assets/images/icons/board.svg")no-repeat center center;
    &:hover{
      background: url("../../../../assets/images/icons/white-board.svg")no-repeat center center;
    }
  }
  .menu-active-sprint{
    background: url("../../../../assets/images/icons/active-sprint.svg")no-repeat center center;
    &:hover{
      background: url("../../../../assets/images/icons/white-active-sprint.svg")no-repeat center center;
    }
  }
  .menu-backlogs{
    background: url("../../../../assets/images/icons/backlogs.svg")no-repeat center center;
    &:hover{
      background: url("../../../../assets/images/icons/white-backlogs.svg")no-repeat center center;
    }
  }
  .menu-settings{
    background: url("../../../../assets/images/icons/settings.svg")no-repeat center center;
    &:hover{
      background: url("../../../../assets/images/icons/white-settings.svg")no-repeat center center;
    }
  }
}

.ant-menu-item-selected{
  .menu-home{
    background: url("../../../../assets/images/icons/white-home.svg")no-repeat center center;
  }
  .menu-project{
    background: url("../../../../assets/images/icons/white-project.svg")no-repeat center center;
  }
  .menu-board{
    background: url("../../../../assets/images/icons/white-board.svg")no-repeat center center;
  }
  .menu-active-sprint{
    background: url("../../../../assets/images/icons/white-active-sprint.svg")no-repeat center center;
  }
  .menu-backlogs{
    background: url("../../../../assets/images/icons/white-backlogs.svg")no-repeat center center;
  }
  .menu-settings{
    background: url("../../../../assets/images/icons/white-settings.svg")no-repeat center center;
  }
}
