<nz-card nzBordered="false" nzSize="small" class="board-design">


  <div class="m-b-15">
    <span class="p-r-15 font-size-18 text-black">Board Settings</span>

    <img src="../../../assets/images/icons/info.svg" height="16" class="cursor-pointer" nz-tooltip
         [nzTitle]="templateTitleText"/>
    <ng-template #templateTitleText>
      About Board Settings...
    </ng-template>

  </div>

  <div class="row">

    <div class="col-md-3">

      <nz-card nzSize="small" class="status-box">
        <div class="row m-b-20">
          <div class="col-sm-4 text-black-dark">Status</div>
          <div class="col-sm-8 text-right">
            <a class="text-primary" (click)="toggleAddStatusShow()">+ Add New Status</a>
          </div>
        </div>
        <aside class="status-list status-box-scrollable">
          <div class="item text-black" *ngFor="let item of statusList" [dndDraggable]="item"
               [dndEffectAllowed]="'move'">
            {{item.name}}
            <span class="float-right">
              <img src="../../../assets/images/icons/ellipsis-move.svg"/>
            </span>
          </div>
        </aside>
      </nz-card>

    </div>

    <div class="col-md-9">

      <div class="row">
        <div class="col-md-4">
          <form nz-form [formGroup]="boardDesignForm" (ngSubmit)="saveForm()">
            <nz-form-item class="m-b-10">
              <nz-form-control>
                <nz-input-group>
                  <input formControlName="name" nzSize="small" maxlength="50" nz-input type="text"
                         placeholder="Board Setting Name"/>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>

        <div class="col-md-8 text-right">
          <button nz-button nzType="primary" [disabled]="!boardDesignForm.valid">Save Settings</button>
        </div>
      </div>

      <nz-card nzSize="small">

        <h5 class="m-t-0 m-b-15">New Setting</h5>

        <section class="sprintboard-container p-l-10" *ngIf="!getActiveBoardInProcess">

          <div class="row flex-row flex-nowrap"
               dndDropzone dndEffectAllowed="copyMove" dndHorizontal="false" (dndDrop)="onColumnDropped($event)">

            <div dndPlaceholderRef class="dndColumnPlaceholder">
              Drop a column here...
            </div>

            <div class="column" *ngFor="let column of activeBoard?.columns; let last" [dndDraggable]="column"
                 [dndEffectAllowed]="'move'">

              <div class="card card-block cursor-move">

                <div class="card-header">{{column.headerStatus?.name}}
                  <div class="pull-left" style="line-height: 10px;">

                  </div>
                </div>

                <div class="card-body status-list status-box-scrollable" dndDropzone dndEffectAllowed="copyMove"
                     dndHorizontal="true">

                  <div class="item bg-white" *ngFor="let includedStatus of column.includedStatuses">
                    <div class="flex-row">
                      <span class="text-black">
                        {{ includedStatus?.status?.name }}
                      </span>
                      <span class="pull-right cursor-pointer" (click)="toggleAssignUserModalShow()">
                        <i nz-icon nzType="user" nzTheme="outline" nz-tooltip [nzTitle]="'Default Assignee'"></i>
                      </span>
                    </div>
                  </div>

                  <div dndPlaceholderRef class="dndPlaceholder">
                    Drop Here...
                  </div>

                </div>

              </div>

            </div>

          </div>
        </section>

        <nz-spin nzTip="Getting Active Board..." *ngIf="getActiveBoardInProcess" nzSize="large">
          <div class="d-flex align-items-center justify-content-center"></div>
        </nz-spin>

        <nz-spin nzTip="Adding a Column..." *ngIf="addColumnInBoardInProcess" nzSize="large">
          <div class="d-flex align-items-center justify-content-center"></div>
        </nz-spin>

      </nz-card>

    </div>
  </div>


  <!-- region add/edit status -->
  <ng-container *ngIf="addStatusModalIsVisible">
    <aavantan-add-status
      [addStatusModalIsVisible]="addStatusModalIsVisible"
      (toggleAddStatusShow)="toggleAddStatusShow($event)">
    </aavantan-add-status>
  </ng-container>
  <!-- endregion -->

  <!-- region add/edit status -->
  <ng-container *ngIf="assignUserModalIsVisible">
    <aavantan-assign-user
      [assignUserModalIsVisible]="assignUserModalIsVisible"
      (toggleAssignUserModalShow)="toggleAssignUserModalShow($event)">
    </aavantan-assign-user>
  </ng-container>
  <!-- endregion -->


</nz-card>
