<footer class="footer font-size-11">
    <div class="footer-content justify-content-between">
        <p class="m-b-0">Copyright &copy; 2020 Assign.work. All rights reserved.</p>
        <span>
            <a (click)="$event.stopPropagation()" href="assets/terms-and-condition.pdf"
                  target="_blank" class="text-gray m-r-10">Terms &amp; Conditions</a>
            <span class="text-gray-light-2">|</span>
            <a (click)="$event.stopPropagation()" href="assets/privacy-policy.pdf"
               target="_blank" class="text-gray m-l-10">Privacy &amp; Policy</a>
        </span>
    </div>
</footer>
