<!-- section 1 -->
<section id="project-page">
<!--  <nz-card-->
<!--    nzSize="small"-->
<!--    [nzBordered]="false"-->
<!--    nzTitle="Create Backlog Item/Task"-->
<!--    [nzExtra]="createTaskBtnTemplate">-->
<!--  <ng-template #createTaskBtnTemplate>-->
<!--    <nz-button-group nz-dropdown [nzDropdownMenu]="createTaskType" nzPlacement="bottomRight">-->
<!--      <button nzType="primary" nzSize="small" nz-button (click)="createTask()">Create New</button>-->
<!--      <button nzType="primary" nzSize="small" nz-button>-->
<!--        <i nz-icon nzType="down"></i>-->
<!--      </button>-->
<!--    </nz-button-group>-->
<!--    <nz-dropdown-menu #createTaskType="nzDropdownMenu">-->
<!--      <ul nz-menu>-->
<!--        <li nz-menu-item *ngFor="let item of issueTypes">{{item.label}}</li>-->
<!--      </ul>-->
<!--    </nz-dropdown-menu>-->
<!--  </ng-template>-->


    <nz-tabset [nzTabBarExtraContent]="tabSwitchTemplate" nzSize="small">
      <nz-tab nzTitle="My Task">
        <ng-template nz-tab>

          <nz-spin nzTip="Loading..." [nzSpinning]="getTaskInProcess">

          <ng-container *ngIf="myTaskList && myTaskList.length === 0">
            <nz-empty
              [nzNotFoundImage]="
                'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'"
              [nzNotFoundFooter]="footerTpl"
              [nzNotFoundContent]="contentTpl">
              <ng-template #contentTpl>
                <span> No Item Assigned</span>
              </ng-template>
              <ng-template #footerTpl>
                <button
                  nz-button
                  nzType="primary"
                  (click)="createTask()">
                  Create New
                </button>
              </ng-template>
            </nz-empty>
          </ng-container>

          <ng-container *ngIf="myTaskList && myTaskList.length > 0">
            <aavantan-task-list
              [taskByUser]="'my'"
              [taskList]="myTaskList"
              [view]="view"
              [showSorting]="true"
            ></aavantan-task-list>
          </ng-container>
          </nz-spin>

        </ng-template>

      </nz-tab>

      <nz-tab nzTitle="All">
        <ng-template nz-tab>

          <nz-spin nzTip="Loading..." [nzSpinning]="getTaskInProcess">
            <ng-container *ngIf="allTaskList && allTaskList.length === 0">
              <nz-empty
                [nzNotFoundImage]="
                  'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'"
                [nzNotFoundFooter]="footerTpl"
                [nzNotFoundContent]="contentTpl">
                <ng-template #contentTpl>
                  <span> No Item Created</span>
                </ng-template>
                <ng-template #footerTpl>
                  <button
                    nz-button
                    nzType="primary"
                    (click)="createTask()">
                    Create New
                  </button>
                </ng-template>
              </nz-empty>
            </ng-container>
            <ng-container *ngIf="allTaskList && allTaskList.length > 0">
              <aavantan-task-list
                [taskByUser]="'all'"
                [taskList]="allTaskList"
                [view]="view"
                [showSorting]="true"
              ></aavantan-task-list>
            </ng-container>
          </nz-spin>

        </ng-template>
      </nz-tab>
    </nz-tabset>

    <ng-template #tabSwitchTemplate>
       
      <nz-radio-group [(ngModel)]="view">
        <label nz-radio-button nzValue="listView" nzTitle="List View" nzPlacement="bottom" nz-tooltip>
          <i class="font-size-14" nz-icon nzType="ordered-list" theme="outline"></i>
        </label>
        <label nz-radio-button nzValue="cardView" nzTitle="Card View" nzPlacement="bottom" nz-tooltip>
          <i class="font-size-14" nz-icon nzType="appstore" theme="outline"></i>
        </label>
      </nz-radio-group>

      <nz-button-group
          *ngIf="taskTypeDataSource && taskTypeDataSource.length"
          class="issue-type-btn-grp m-l-35"
          nz-dropdown
          [nzDropdownMenu]="createTaskType"
          nzPlacement="bottomRight">
          <button nzType="primary" nzSize="small" nz-button>
            Create New <i nz-icon nzType="caret-down" theme="outline"></i>
          </button>
        </nz-button-group>
        <nz-dropdown-menu #createTaskType="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngFor="let item of taskTypeDataSource" (click)="createTask(item)">
              <i class="fas fa-circle m-r-10" [ngStyle]="{'color':item.color}"></i>
              {{ item.displayName }}
            </li>
          </ul>
        </nz-dropdown-menu>
    </ng-template>
<!--  </nz-card>-->
</section>

