<!-- section 1 -->
<section id="project-page">

  <nz-tabset [nzTabBarExtraContent]="tabSwitchTemplate" nzSize="small">
    <nz-tab [nzTitle]="titleTemplateMy">

      <ng-template #titleTemplateMy>
        <div class="tab-title" (click)="changeTab('my')">
          My Task
        </div>
      </ng-template>


      <ng-template nz-tab *ngIf="activeTab==='my'">

        <nz-spin nzTip="Loading..." [nzSpinning]="getMyTaskInProcess">

          <ng-container>
            <aavantan-task-list
              [taskByUser]="'my'"
              [taskList]="myTaskList"
              [statusColumnDataSource]="statusColumnDataSource"
              [selectedColumnDataSource]="selectedColumnDataSource"
              [view]="view"
              [showSorting]="true"
              [requestModel]="myTaskFilterRequest"
              (pageChangedEvent)="myTaskPageChanged($event)"
              (sortingChangedEvent)="myTaskSortingChanged($event)"
              (searchEvent)="searchMyTasks($event)"
              (filterEvent)="filterStatusApplied($event)"
            ></aavantan-task-list>
          </ng-container>
        </nz-spin>

      </ng-template>

    </nz-tab>

    <nz-tab [nzTitle]="titleTemplateAll">

      <ng-template #titleTemplateAll>
        <div class="tab-title" (click)="changeTab('all')">
          All
        </div>
      </ng-template>


      <ng-template nz-tab *ngIf="activeTab==='all'">

        <nz-spin nzTip="Loading..." [nzSpinning]="getTaskInProcess">


          <ng-container>
            <aavantan-task-list
              [taskByUser]="'all'"
              [taskList]="allTaskList"
              [statusColumnDataSource]="statusColumnDataSource"
              [selectedColumnDataSource]="selectedColumnDataSource"
              [view]="view"
              [showSorting]="true"
              [requestModel]="allTaskFilterRequest"
              (pageChangedEvent)="allTaskPageChanged($event)"
              (sortingChangedEvent)="allTaskSortingChanged($event)"
              (searchEvent)="searchAllTasks($event)"
              (filterEvent)="filterStatusApplied($event)"
            ></aavantan-task-list>
          </ng-container>

        </nz-spin>

      </ng-template>
    </nz-tab>
  </nz-tabset>

  <ng-template #tabSwitchTemplate>

    <nz-button-group class="toggle-btn-group">
      <button (click)="changeView('listView')" nz-button [nzType]="view==='listView' ? 'link' : 'primary'" nzTitle="List View" nzPlacement="bottom" nz-tooltip>
        <img src="../../assets/images/icons/{{ view === 'cardView' ? 'light-blue-list-view.svg' : 'blue-list-view.svg' }}">
      </button>
      <button (click)="changeView('cardView')" nz-button [nzType]="view==='cardView' ? 'link' : 'primary'" nzTitle="Card View" nzPlacement="bottom" nz-tooltip>
        <img src="../../assets/images/icons/{{ view === 'listView' ? 'light-blue-card-view.svg' : 'blue-card-view.svg' }}">
      </button>
    </nz-button-group>


  <span *ngxPermissionsOnly="['canAdd_task']">

    <nz-button-group
      *ngIf="taskTypeDataSource && taskTypeDataSource.length"
      class="issue-type-btn-grp m-l-35"
      nz-dropdown
      [nzDropdownMenu]="createTaskType"
      nzPlacement="bottomRight">
      <button nzType="primary" nzSize="small" nz-button>
        Create New <i nz-icon nzType="caret-down" theme="outline"></i>
      </button>
    </nz-button-group>
    <nz-dropdown-menu #createTaskType="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item *ngFor="let item of taskTypeDataSource" (click)="createTask(item)">
          <i class="fas fa-circle m-r-10" [ngStyle]="{'color':item.color}"></i>
          {{ item.displayName }}
        </li>
      </ul>
    </nz-dropdown-menu>

  </span>

  </ng-template>

  <!--  </nz-card>-->
</section>

