<nz-modal [(nzVisible)]="sprintModalIsVisible" [nzTitle]="titleTemp" nzClassName="sprint-modal" nzFooter="nzModalFooter" nzWidth="650" nzClosable="false">
  <form [formGroup]="sprintForm" autocomplete="off" nz-form>
    <ng-container>
      <section class="draft-sprint-box">

        <div class="steps-content row">

              <div class="col-md-7 col-sm-12">
                <nz-form-item>
                  <nz-form-label>Title<span class="text-danger">*</span></nz-form-label>
                  <input nz-input formControlName="name" placeholder="Enter Sprint Title" nzSize="small" maxlength="50"/>
                </nz-form-item>
              </div>

              <div class="col-md-5 col-sm-12">
                <nz-form-item>
                  <nz-form-label>Duration (Start - End Date)<span class="text-danger">*</span></nz-form-label>
                  <div class="sprint-duration-datepicker">
                    <nz-range-picker formControlName="duration" [nzFormat]="dateFormat"></nz-range-picker>
                  </div>
                </nz-form-item>
              </div>


              <div class="col-md-12">
                <nz-form-item class="no-margin">
                  <nz-form-label>Goal<span class="text-danger">*</span></nz-form-label>
                  <textarea formControlName="goal" nz-input [rows]="3" placeholder="Enter Sprint Goal (max 250 character)" nzSize="small" maxlength="250"></textarea>
                </nz-form-item>
              </div>

        </div>

      </section>

      <section>

        <div class="capacity-table">
          <nz-table
            [nzData]="sprintData.membersCapacity"
            [nzShowPagination]="false">
            <thead>
            <tr>
              <th>
                <nz-input-group [nzSuffix]="suffixIcon">
                  <input [(ngModel)]="searchUserInput" (ngModelChange)="onChangeSearch($event)" nz-input placeholder="Search User" style="text-align: left;max-width:100%; width:150px;"/>
                </nz-input-group>
                <ng-template #suffixIcon>
                  <i nz-icon nzType="search"></i>
                </ng-template>
              </th>
              <th class="text-right" width="200">
                <small *ngIf="switchShow0Capacity">Hide <b class="text-success">0h Only</b></small>
                <small *ngIf="!switchShow0Capacity">Show <b class="text-success">0h Only</b></small>
                <nz-switch nzSize="small" [(ngModel)]="switchShow0Capacity" (ngModelChange)="onChangeSwitchCapacity()" class="m-l-5"></nz-switch>
              </th>
            </tr>
            <tr>
              <th>Name</th>
              <th class="text-right" width="200">Working hours</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let item of sprintData.membersCapacity">
              <td><nz-avatar nzSize="small" nzSrc="{{item.user.profilePic}}"></nz-avatar> {{item.user.firstName}} {{item.user.lastName}}</td>
              <td class="text-right"><input nz-input numeric numericType="number" maxlength="3" placeholder="Hours" class="team-list-input" [(ngModel)]="item.workingCapacity" (keyup)="calculateTotalCapacity()" nzSize="small" maxlength="3"/></td>
            </tr>
            <tr>
              <td class="text-right" colspan="2">
                <nz-tag [nzColor]="'#F8F8F8'" class="text-gray-light">Total Capacity : <strong class="text-body" >{{sprintData.totalCapacityReadable ? sprintData.totalCapacityReadable : '0h'}}</strong></nz-tag>
              </td>
            </tr>

            </tbody>
          </nz-table>
        </div>
      </section>
    </ng-container>

    <div *nzModalFooter>
      <button nz-button nzSize="small" nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzSize="small" nzType="primary" [disabled]="sprintForm.invalid" (click)="createSprint()" [nzLoading]="createSprintInProcess">Save</button>
    </div>
    <ng-template #titleTemp>
      <span>Create Sprint</span>
    </ng-template>
  </form>
</nz-modal>
