<!-- section 1 -->
<section id="settings-page">

  <ul class="setting-tab-btn">

    <li>
      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='project'}"
         (click)="activeTab('project', 'Project')">
        <img *ngIf="activeView.view==='project'" src="../../assets/images/icons/white_project_setting.svg"/>
        <img *ngIf="activeView.view!=='project'" src="../../assets/images/icons/project_setting.svg"/>
        <div>Project</div>
      </a>
    </li>

    <li>
      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='board_settings'}"
         (click)="activeTab('board_settings', 'Board Settings')">
        <img *ngIf="activeView.view==='board_settings'" src="../../assets/images/icons/white_board_settings.svg"/>
        <img *ngIf="activeView.view!=='board_settings'" src="../../assets/images/icons/board_settings.svg">
        <div>Board Settings</div>
      </a>
    </li>

    <li>
      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='collaborators'}"
         (click)="activeTab('collaborators', 'Collaborators')">
        <img *ngIf="activeView.view==='collaborators'" src="../../assets/images/icons/white_collaborator.svg"/>
        <img *ngIf="activeView.view!=='collaborators'" src="../../assets/images/icons/collaborator.svg"/>
        <div>Collaborators</div>
      </a>
    </li>

<!--    <li>-->
<!--      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='stages'}"-->
<!--         (click)="activeTab('stages', 'Stages')">-->
<!--        <img *ngIf="activeView.view==='stages'" src="../../assets/images/icons/white_stages.svg"/>-->
<!--        <img *ngIf="activeView.view!=='stages'" src="../../assets/images/icons/stages.svg"/>-->
<!--        <div>Stages</div>-->
<!--      </a>-->
<!--    </li>-->

    <li>
      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='status'}"
         (click)="activeTab('status', 'Status')">
        <img *ngIf="activeView.view==='status'" src="../../assets/images/icons/white_status.svg"/>
        <img *ngIf="activeView.view!=='status'" src="../../assets/images/icons/status.svg"/>
        <div>Status</div>
      </a>
    </li>

    <li>
      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='priority'}"
         (click)="activeTab('priority', 'Priority')">
        <img *ngIf="activeView.view==='priority'" src="../../assets/images/icons/white_priority.svg"/>
        <img *ngIf="activeView.view!=='priority'" src="../../assets/images/icons/priority.svg"/>
        <div>Priority</div>
      </a>
    </li>

    <li>
      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='taskType'}"
         (click)="activeTab('taskType', 'Task Type')">
        <img *ngIf="activeView.view==='taskType'" src="../../assets/images/icons/white_task_type.svg"/>
        <img *ngIf="activeView.view!=='taskType'" src="../../assets/images/icons/task_type.svg">
        <div>Task Type</div>
      </a>
    </li>

    <li>
      <a href="javascript:void(0);" nz-button nzType="default" [ngClass]="{'active':activeView.view==='capacity'}"
         (click)="activeTab('capacity', 'Team Capacity')">
        <img *ngIf="activeView.view==='capacity'" src="../../assets/images/icons/white_team_capacity.svg"/>
        <img *ngIf="activeView.view!=='capacity'" src="../../assets/images/icons/team_capacity.svg">
        <div>Team Capacity</div>
      </a>
    </li>

  </ul>

  <section>

    <nz-card [nzTitle]="templateTitle" [nzExtra]="templateExtra" style="min-height:470px;">

      <ng-template #templateTitle>
        {{activeView.title}}
        <img src="../../../assets/images/icons/info.svg" height="16" nz-tooltip [nzTitle]="templateTitleText"/>
      </ng-template>
      <ng-template #templateTitleText>
        About {{activeView.title}}
      </ng-template>
      <ng-template #templateExtra>

        <span *ngIf="activeView.view==='board_settings'">
          <a nz-button nzType="primary" size="small" routerLink="/dashboard/board-setting">
             + New Board Setting
          </a>
        </span>

        <span *ngIf="activeView.view==='status'">
          <button nz-button nzType="primary" (click)="toggleAddStatusShow()">+ Add Status</button>
        </span>

        <span *ngIf="activeView.view==='priority'">
          <button nz-button nzType="primary" (click)="toggleAddPriorityShow()">+ Add Priority</button>
        </span>

        <span *ngIf="activeView.view==='taskType'">
          <button nz-button nzType="primary" (click)="toggleAddTaskTypeShow()">+ Add Task Type</button>
        </span>

        <button class="m-l-5" nz-button nzType="link" size="small" (click)="projectModalShow()">+ Add/Switch Project
        </button>

      </ng-template>

      <!-- project tab -->
      <ng-container *ngIf="activeView.view==='project'">
        <section class="row">
          <aside class="col-md-4">
            <form nz-form class="register-form" [formGroup]="projectForm">

              <nz-form-item>
                <nz-form-label>Project Title<span class="text-danger">*</span></nz-form-label>
                <input
                  autocomplete="Off"
                  formControlName="name"
                  placeholder="Enter Project Name, eg : Food Application"
                  nz-input nzSize="small">
              </nz-form-item>


              <nz-form-item class="relative">

                <nz-form-label nzFor="taskType">Default Assignee<span class="text-danger">*</span></nz-form-label>
                <nz-form-control class="relative">
                                <span class="assigned-user-icon">
                              <nz-avatar [nzSize]="16" nzIcon="user"
                                         [nzSrc]="selectedAssignee ? selectedAssignee.profilePic : null"></nz-avatar>
                            </span>
                  <nz-input-group [nzSuffix]="suffixDefaultIconSearch">
                    <input placeholder="Search Assignee" formControlName="assigneeId" class="assigned-user-input" nz-input
                           (ngModelChange)="selectDefaultAssigneeTypeahead($event)" nzSize="small"
                           [nzAutocomplete]="autoAssignee"/>
                  </nz-input-group>
                  <nz-autocomplete #autoAssignee>
                    <nz-auto-option *ngFor="let option of assigneeDataSource"
                                    [nzLabel]="option && option.firstName ? option.firstName : option.emailId"
                                    [nzValue]="option">
                      <nz-avatar class="m-r-10" [nzSrc]="option && option.profilePic ? option.profilePic : ''"
                                 [nzShape]="'circle'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>
                      <span>{{ option && option.firstName ? option.firstName : option.emailId }}</span>
                      <span *ngIf="option && option.lastName">&nbsp;{{ option && option.lastName }}</span>
                      <div *ngIf="option && option.firstName" style="margin-top: -6px;" class="p-l-35"><small
                        class="text-muted">{{ option.emailId }}</small></div>
                    </nz-auto-option>
                  </nz-autocomplete>
                </nz-form-control>
                <ng-template #suffixDefaultIconSearch>
                  <i nz-icon nzType="search" *ngIf="!isSearchingDefaultAssignee && (projectForm.controls['assigneeId'].value?.length===0 || !projectForm.controls['assigneeId'].value)"></i>
                  <i nz-icon nzType="close" class="cursor-pointer" (click)="clearAssigeeSearchText()" *ngIf="!isSearchingDefaultAssignee && projectForm.controls['assigneeId'].value?.length>0"></i>
                  <i class="fas fa-spin fa-spinner" *ngIf="isSearchingDefaultAssignee"></i>
                </ng-template>
              </nz-form-item>


              <nz-form-item class="max-width-ddls">
                <nz-form-label nzFor="taskType">Default Status <span class="text-danger">*</span></nz-form-label>
                <nz-form-control class="issue-type-btn-grp" nzValidatingTip="Please select task type!">
                  <nz-button-group nz-dropdown [nzDropdownMenu]="statusDDL" nzPlacement="bottomLeft"
                                   style="width: 100%!important;">
                    <button type="button" nzType="default" nzSize="default" class="ddls-btn" nz-button
                            style="width: 100%!important;">
                      {{selectedStatus?.name}} <i nz-icon nzType="caret-down" theme="outline"></i>
                    </button>
                  </nz-button-group>
                  <nz-dropdown-menu #statusDDL="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item *ngFor="let item of statusList" (click)="selectStatus(item)">
                        {{ item.name }}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="max-width-ddls">
                <nz-form-label nzFor="taskType">Default Task Type <span class="text-danger">*</span></nz-form-label>
                <nz-form-control class="issue-type-btn-grp" nzValidatingTip="Please select task type!">
                  <nz-button-group nz-dropdown [nzDropdownMenu]="taskTypeDD" nzPlacement="bottomLeft"
                                   style="width: 100%!important;">
                    <button type="button" nzType="default" nzSize="default" class="ddls-btn" nz-button
                            style="width: 100%!important;">
                      <span class="fas fa-circle m-r-5" [ngStyle]="{'color':selectedTaskType?.color}"></span>
                      {{selectedTaskType?.displayName}} <i nz-icon nzType="caret-down" theme="outline"></i>
                    </button>
                  </nz-button-group>
                  <nz-dropdown-menu #taskTypeDD="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item *ngFor="let item of typesList" (click)="selectTaskType(item)">
                        <i class="fas fa-circle m-r-10" [ngStyle]="{'color':item.color}"></i> {{ item.displayName }}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item class="max-width-ddls">
                <nz-form-label nzFor="taskType">Default Priority <span class="text-danger">*</span></nz-form-label>
                <nz-form-control class="issue-type-btn-grp" nzValidatingTip="Please select task type!">
                  <nz-button-group nz-dropdown [nzDropdownMenu]="priorityDDL" nzPlacement="bottomLeft"
                                   style="width: 100%!important;">
                    <button type="button" nzType="default" nzSize="default" class="ddls-btn" nz-button
                            style="width: 100%!important;">
                      <span class="fas fa-circle m-r-5" [ngStyle]="{'color':selectedPriority?.color}"></span>
                      {{selectedPriority?.name}} <i nz-icon nzType="caret-down" theme="outline"></i>
                    </button>
                  </nz-button-group>
                  <nz-dropdown-menu #priorityDDL="nzDropdownMenu">
                    <ul nz-menu>
                      <li nz-menu-item *ngFor="let item of priorityList" (click)="selectPriority(item)">
                        <i class="fas fa-square m-r-5" [ngStyle]="{'color': item.color}"></i>{{ item.name }}
                      </li>
                    </ul>
                  </nz-dropdown-menu>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <button (click)="saveProject()" [disabled]="projectForm.invalid" [nzLoading]="updateRequestInProcess"
                        nz-button nzType="primary"
                        nzSize="small"> Save
                </button>
              </nz-form-item>
            </form>
          </aside>


        </section>
      </ng-container>
      <!-- project tab -->

      <!-- board_settings tab -->
      <ng-container *ngIf="activeView.view==='board_settings'">

        <section class="row">

          <aside class="col-md-12 board-settings-box">

            <nz-table
              [nzFrontPagination]="false"
              [nzTotal]="getBoardListRequestModal.totalItems"
              [nzPageIndex]="getBoardListRequestModal.page"
              [nzPageSize]="getBoardListRequestModal.count"
              [nzShowPagination]="true"
              (nzPageIndexChange)="boardPageChanged($event)"
              #smallTable
              [nzLoading]="getAllBoardsInProcess || publishBoardInProcess || deleteBoardInProcess"
              nzSize="small"
              [nzData]="boardsList" >

              <thead (nzSortChange)="boardSortOrderChanged($event)">
              <tr>
                <th data-label="SN">#</th>
                <th width="35%" nzSortKey="name" nzShowSort>Name</th>
                <th>Created By</th>
                <th nzSortKey="createdAt" nzShowSort>Created On</th>
                <th>Published</th>
                <th width="125px">Action</th>
              </tr>
              </thead>


              <tbody>
              <tr *ngFor="let data of smallTable.data; let index = index;">
                <td data-label="SN">{{(index+1)}}</td>
                <td data-label="Name"><a class="cursor-pointer font-weight-semibold text-primary" (click)="editBoard(data.id)">{{data.name}}</a></td>
                <td data-label="Created By">{{data?.createdBy?.firstName}} {{data?.createdBy?.lastName}}</td>
                <td data-label="Created On">{{data.createdAt | date :'mediumDate'}}</td>

                <td data-label="Published">

                  <span *ngIf="data.isPublished">
                    <nz-tag [nzColor]="'#42E3A3'">
                      <i nz-icon nzType="check" class="text-white" nzTheme="outline"></i>
                      <span class="text-white font-size-12">&ensp;Published</span>
                    </nz-tag>

                  </span>

                  <span *ngIf="!data.isPublished"></span>

                </td>

                <td data-label="Action">

                  <span *ngIf="!data.isPublished" (click)="publishBoard(data.id)" class="text-primary cursor-pointer">Publish</span>

                  <i nz-icon nzType="delete" *ngIf="!data.isPublished" (click)="deleteBoard(data.id)" class="text-red m-l-15" nzTheme="outline"></i>

                </td>
              </tr>
              </tbody>
            </nz-table>

          </aside>

        </section>

      </ng-container>
      <!-- board_settings tab -->

      <!-- collaborators tab -->
      <ng-container *ngIf="activeView.view==='collaborators'">
        <section class="row">
          <aside class="col-md-3">
            <form nz-form class="register-form" [formGroup]="collaboratorForm">

              <nz-form-item>
                <nz-form-label>Search or Invite Collaborator</nz-form-label>
                <nz-form-control class="relative">
                  <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input placeholder="Search Collaborators" formControlName="collaborator" class="assigned-user-input"
                           nz-input (ngModelChange)="selectAssigneeTypeahead($event)" nzSize="small"
                           [nzAutocomplete]="autoAssignee"/>
                  </nz-input-group>
                  <nz-autocomplete #autoAssignee>
                    <nz-auto-option *ngFor="let option of collaboratorsDataSource"
                                    [nzLabel]="option && option.firstName ? option.firstName : option.emailId"
                                    [nzValue]="option">
                      <nz-avatar class="m-r-10" [nzSrc]="option && option.profilePic ? option.profilePic : ''"
                                 [nzShape]="'circle'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>
                      <span>{{ option && option.firstName ? option.firstName : option.emailId }}</span>
                      <span *ngIf="option && option.lastName">{{ option && option.lastName }}</span>
                      <div *ngIf="option && option.firstName" style="margin-top: -6px;" class="p-l-35"><small
                        class="text-muted">{{ option.emailId }}</small></div>
                    </nz-auto-option>
                  </nz-autocomplete>
                </nz-form-control>
                <ng-template #suffixIconSearch>
                  <i nz-icon nzType="search" *ngIf="!isSearching"></i>
                  <i class="fas fa-spin fa-spinner" *ngIf="isSearching"></i>
                </ng-template>
              </nz-form-item>


              <p class="text-info" *ngIf="enableInviteBtn && !isCollaboratorExits">Please enter email id to invite
                member</p>
              <p class="text-danger" *ngIf="isCollaboratorExits">This user already added in this Project</p>
              <nz-form-explain class="text-danger m-b-15"
                               *ngIf="response && response.message">{{response.message}}</nz-form-explain>
              <nz-form-item>
                <button (click)="addCollaborators(true)" [nzLoading]="addCollaboratorsInProcess"
                        [disabled]="!enableInviteBtn || isCollaboratorExits" nz-button nzType="primary"
                        nzSize="small">
                  <i nz-icon nzType="mail" theme="outline"></i> Invite
                </button>

              </nz-form-item>
              <p>Note: If user not available into list then you type email id and then invite them directly.</p>
            </form>
          </aside>
          <aside class="col-md-6">

            <nz-spin [nzSpinning]="resendInviteInProcess || removeCollaboratorInProcess" nzTip="{{resendInviteInProcess ? 'Sending request...' : 'Removing...'}}">
              <div *ngIf="projectMembersList?.length>0">
                <nz-form-label>Collaborators</nz-form-label>
                <ul class="stages-list collaborators-list">
                  <li *ngFor="let item of projectMembersList">

                    <a href="mailto:{{item.emailId}}">

                      <nz-avatar class="m-r-10 small"
                                 [nzSrc]="item.userDetails && item.userDetails.profilePic ? item.userDetails.profilePic : ''"
                                 [nzShape]="'circle'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>


                      <!-- if first name not available -->
                      <span *ngIf="!item.userDetails?.firstName" class="text-primary user-email-on-collaborator">
                        {{item.emailId}}
                      </span>
                      <!---->

                      <!-- if first name available -->
                      <span *ngIf="item.userDetails?.firstName" class="text-black-dark">{{item.userDetails.firstName}} {{item.userDetails.lastName}}
                      </span>

                      <div class="m-l-35 text-primary user-email-on-collaborator" *ngIf="item.userDetails?.firstName">{{item.emailId}}</div>
                      <!---->


                    </a>

                    <span class="p-l-50 float-right" style="position: absolute;right: 10px;top: 10px;">


                      <div>
                        <span class="text-gray-light-2 d-block font-weight-light" *ngIf="item.isEmailSent && !item.isInviteAccepted">Invitation Sent</span>

                        <span *ngIf="!item.isInviteAccepted" (click)="resendInvitation(item)" class="d-block text-primary p-r-10 font-size-12 font-weight-light">
                          <i nz-icon nzType="mail" theme="outline"></i> Resend Invite</span>
                      </div>

                      <span *ngIf="item.isInviteAccepted">
                        <i nz-icon nzType="check-circle" class="m-r-5 m-t-5 text-green font-size-24" nzTheme="fill"></i>
                      </span>
                      <!--                      <i (click)="removeCollaborators(item)" nz-icon nzType="close" theme="outline" class="p-l-15 float-right"></i>-->
                    </span>
                  </li>
                </ul>
              </div>
            </nz-spin>


          </aside>
        </section>
      </ng-container>
      <!-- collaborators tab -->

      <!-- stages tab -->
      <ng-container *ngIf="activeView.view==='stages'">

        <section class="row">

          <aside class="col-md-3">

            <form nz-form (submit)="addStage()" [formGroup]="stageForm">

              <nz-form-item>

                <nz-form-label>Stage title<span class="text-danger">*</span></nz-form-label>
                <nz-form-control>
                  <input nz-input nzSize="small" formControlName="name" placeholder="Enter Stage title" maxlength="25"/>
                </nz-form-control>

              </nz-form-item>

              <nz-form-item>
                <button nz-button nzType="primary" [disabled]="stageForm.invalid" [nzLoading]="updateRequestInProcess"
                        nzSize="small">Add
                </button>
              </nz-form-item>

            </form>


            <div *ngIf="stagesList && stagesList.length>0">

              <nz-form-label>Default Stages</nz-form-label>

              <nz-spin nzTip="Loading..." [nzSpinning]="deleteStageInProcess">

                <ul class="stages-list">
                  <bs-sortable
                    id="bsstage"
                    [(ngModel)]="stagesList"
                    (dragend)="reorderList($event)"
                    itemClass="sortable-item"
                    itemActiveClass="sortable-item-active"
                    [itemTemplate]="itemTemplate"
                    placeholderClass="placeholderStyle"
                    wrapperClass="sortable-wrapper"
                  ></bs-sortable>


                  <ng-template #itemTemplate let-item="item" let-index="index">
                    <li class="cursor-move" id="{{item.value.id}}"><span>{{item.value.name}}</span>
                      <!--<i (click)="removeStage(item)" nz-icon nzType="close" theme="outline" class="close float-right"></i>-->
                    </li>
                  </ng-template>
                </ul>

                <!--              <ul class="stages-list">-->
                <!--                <li *ngFor="let item of stagesList"><span>{{item.name}}</span>-->
                <!--&lt;!&ndash;        <i (click)="removeStage(item)" nz-icon nzType="close" theme="outline" class="close float-right"></i>&ndash;&gt;-->
                <!--                </li>-->
                <!--              </ul>-->

              </nz-spin>

            </div>


          </aside>

          <aside class="col-md-9" *ngIf="stagesList && stagesList.length>0">

            <nz-form-label>Preview</nz-form-label>
            <section class="sprintboard-container p-l-10">
              <div class="row flex-row flex-nowrap" *ngIf="stagesList && stagesList.length>0">

                <div class="column" *ngFor="let item of stagesList; let last">
                  <div class="card card-block">

                    <div class="card-header">{{item.name}} <span class="pull-right"><i
                      class="pl-3 fa fa-ellipsis-v"></i></span>
                      <div class="pull-left" style="line-height: 10px;">
                        <small class="text-muted font-size-10">Total hours&nbsp;</small>&nbsp;
                        <span class="font-size-12">2Hrs</span>
                      </div>
                    </div>

                    <div class="card-body">

                      <div>
                        <div class="task-card"
                             [ngStyle]="{'border-left': '4px solid #0090FB'}">
                          <h6 [ngStyle]="{'color': '#EF1B1B'}">#BUG-1
                            <span class="float-right duration">1 Sec ago</span>
                          </h6>
                          <div class="task-body">
                            <div>
                              <a href="" class="task-title">
                                Task Name
                              </a>
                            </div>
                          </div>
                          <div class="task-footer">
                      <span><nz-avatar class="m-r-5" nzIcon="user" nzText="J"
                                       nzShape="circle"></nz-avatar><span class="profile-name">Jone Doe</span></span>
                            <span class="pull-right">
                            <a href="javascript:void(0);" class="text-primary">
                              <i nz-icon nzType="clock-circle" theme="outline"></i> Log Time</a></span>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </section>

          </aside><!-- preview -->


        </section>
      </ng-container>
      <!-- stages tab -->

      <!-- status tab -->
      <ng-container *ngIf="activeView.view==='status'">

        <section class="row">

          <!--
          <aside class="col-md-3">

            <form nz-form (submit)="addStatus()" [formGroup]="statusForm">

              <nz-form-item>

                <nz-form-label>Status title<span class="text-danger">*</span></nz-form-label>
                <nz-form-control>
                  <input nz-input nzSize="small" formControlName="name" placeholder="Enter Status title"
                         maxlength="30"/>
                </nz-form-control>

              </nz-form-item>

              <nz-form-item>
                <button nz-button nzType="primary" [disabled]="statusForm.invalid" [nzLoading]="updateRequestInProcess" nzSize="small">Add</button>
              </nz-form-item>

            </form>

          </aside>
          -->

          <aside class="col-md-4" *ngIf="statusList && statusList.length>0">

            <nz-spin nzTip="Loading..." [nzSpinning]="deleteStageInProcess">

              <nz-form-label>All Status</nz-form-label>

              <ul class="stages-list">
                <li *ngFor="let item of statusList"><span>{{item.name}}</span>

                  <span class="float-right">
<!--                      <i (click)="removeStatus(item)" nz-icon nzType="close" theme="outline" class="close"></i>-->
                      <i (click)="toggleAddStatusShow(item)" nz-icon nzType="edit" theme="outline" class="edit"></i>
                    </span>

                </li>
              </ul>

            </nz-spin>

          </aside>


          <aside class="col-md-12" *ngIf="!statusList || statusList.length===0">
            <nz-empty
              [nzNotFoundImage]="'../../../assets/images/not-found/no-data.svg'"
              [nzNotFoundContent]="contentTpl"
              [nzNotFoundFooter]="footerTpl">
              <ng-template #contentTpl>
                <span>No Status Found</span>
              </ng-template>
              <ng-template #footerTpl>
                <!--                <button nz-button nzSize="small" nzType="primary" (click)="toggleAddStatusShow()">+ Add Status</button>-->
              </ng-template>
            </nz-empty>
          </aside>


        </section>
      </ng-container>
      <!-- status tab -->

      <!-- priority tab -->
      <ng-container *ngIf="activeView.view==='priority'">

        <section class="row task-type-section">

          <!--
          <aside class="col-md-3">

            <form nz-form (submit)="savePriority()" [formGroup]="priorityForm">

              <nz-form-item>
                <nz-form-label>Priority<span class="text-danger">*</span>&nbsp;<small style="letter-spacing: 0;">(color and title)</small></nz-form-label>

                <nz-form-control>
                  <nz-input-group [nzAddOnBefore]="profixIconButton">
                    <input class="task-type-input" type="text" nzSize="small" formControlName="name" nz-input
                           placeholder="eg: Low"/>
                  </nz-input-group
                  >
                  <ng-template #profixIconButton>
                    <input type="color" nzSize="small" formControlName="color"/>
                  </ng-template>
                </nz-form-control>

              </nz-form-item>

              <nz-form-item>
                <button nz-button nzType="primary" [disabled]="priorityForm.invalid" [nzLoading]="updateRequestInProcess" nzSize="small">Add</button>
              </nz-form-item>

            </form>

          </aside>
          -->

          <aside class="col-md-4" *ngIf="priorityList && priorityList.length>0">

            <nz-spin nzTip="Loading..." [nzSpinning]="deleteTaskTypeInProcess">

              <nz-form-label>Default Priorities</nz-form-label>

              <ul class="stages-list">

                <li *ngFor="let item of priorityList">
                  <div>
                    <i nz-tooltip [nzTitle]="item.color"
                       [ngStyle]="{'border-left':'solid 5px ' + item.color, 'height':'18px' }"></i>
                    <span class="p-l-10">{{item.name}}</span></div>

                  <span class="float-right">
<!--                      <i (click)="removePriority(item)" nz-icon nzType="close" theme="outline" class="close"></i>-->
                      <i (click)="toggleAddPriorityShow(item)" nz-icon nzType="edit" theme="outline"
                         class="edit right-30"></i>
                    </span>
                </li>

              </ul>

            </nz-spin>

          </aside>


          <aside class="col-md-12" *ngIf="!priorityList || priorityList.length===0">
            <nz-empty
              [nzNotFoundImage]="'../../../assets/images/not-found/no-data.svg'"
              [nzNotFoundContent]="contentTpl"
              [nzNotFoundFooter]="footerTpl">
              <ng-template #contentTpl>
                <span>No Priority Found</span>
              </ng-template>
              <ng-template #footerTpl>
                <!--                <button nz-button nzSize="small" nzType="primary" (click)="toggleAddPriorityShow()">+ Add Priority</button>-->
              </ng-template>
            </nz-empty>
          </aside>


        </section>
      </ng-container>
      <!-- priority tab -->

      <!-- taskType tab -->
      <ng-container *ngIf="activeView.view==='taskType'">

        <section class="row task-type-section">

<!--          <aside class="col-md-3">-->

<!--            <form nz-form (submit)="saveTaskType()" [formGroup]="taskTypeForm">-->

<!--              <nz-form-item>-->
<!--                <nz-form-label class="display-name-label">Task Prefix<span class="text-danger">*</span> <small-->
<!--                  style="display:block;letter-spacing: 0;">(as prefix with id eg : <b-->
<!--                  class="text-info">BUG-1001</b>)</small></nz-form-label>-->
<!--                <nz-form-control>-->
<!--                  <input class="task-type-input" type="text" nzSize="small"-->
<!--                         formControlName="displayName" nz-input placeholder="eg: BUG" maxlength="10"/>-->
<!--                </nz-form-control>-->
<!--              </nz-form-item>-->
<!--              <nz-form-item>-->
<!--                <nz-form-label>Task Type<span class="text-danger">*</span>&nbsp;<small style="letter-spacing: 0;">(color and-->
<!--                  title)</small></nz-form-label>-->

<!--                <nz-form-control>-->
<!--                  <nz-input-group [nzAddOnBefore]="profixIconButton">-->
<!--                    <input class="task-type-input" type="text" nzSize="small" (keyup)="copyName()" formControlName="name" maxlength="20"-->
<!--                           nz-input-->
<!--                           placeholder="Enter Task Name"/>-->
<!--                  </nz-input-group>-->
<!--                  <ng-template #profixIconButton>-->
<!--                    <input type="color" nzSize="small" formControlName="color"/>-->
<!--                  </ng-template>-->
<!--                </nz-form-control>-->

<!--              </nz-form-item>-->

<!--              <nz-form-item>-->

<!--                <nz-form-label>Description</nz-form-label>-->
<!--                <nz-form-control>-->
<!--                  <textarea nz-input nzSize="small" formControlName="description" maxlength="250"-->
<!--                            placeholder="Enter Status Description" rows="5"></textarea>-->
<!--                </nz-form-control>-->

<!--              </nz-form-item>-->

<!--              <nz-form-item>-->
<!--                <button nz-button nzType="primary" [disabled]="taskTypeForm.invalid"-->
<!--                        [nzLoading]="updateRequestInProcess" nzSize="small">Add-->
<!--                </button>-->
<!--              </nz-form-item>-->

<!--            </form>-->


<!--          </aside>-->

          <aside class="col-md-4" *ngIf="typesList && typesList.length>0">

            <nz-form-label>All Types</nz-form-label>

            <nz-spin nzTip="Loading..." [nzSpinning]="deleteTaskTypeInProcess">

              <ul class="stages-list">

                <li *ngFor="let item of typesList">
                  <i class="fas fa-circle m-r-10" nz-tooltip [nzTitle]="item.color"
                     [ngStyle]="{'color':item.color}"></i>
                  <span>{{item.name}}</span>
                  <span class="float-right">
<!--                      <i (click)="removeTaskType(item)" nz-icon nzType="close" theme="outline" class="close"></i>-->
                      <i (click)="toggleAddTaskTypeShow(item)" nz-icon nzType="edit" theme="outline"
                         class="edit right-30"></i>
                  </span>
                </li>

              </ul>

            </nz-spin>

          </aside>

        </section>
      </ng-container>
      <!-- taskType tab -->

      <!-- capacity tab -->
      <ng-container *ngIf="activeView.view==='capacity'">
        <aside class="col-md-12">
          <div *ngIf="!projectCapacityMembersList || projectCapacityMembersList.length===0">
            <nz-empty
              [nzNotFoundImage]="'../../../assets/images/not-found/no-data.svg'"
              [nzNotFoundContent]="contentTpl"
              [nzNotFoundFooter]="footerTpl">
              <ng-template #contentTpl>
                <span>Please add collaborator to add capacity</span>
              </ng-template>
              <ng-template #footerTpl>
                <button nz-button nzSize="small" nzType="primary" (click)="activeTab('collaborators', 'Collaborators')">
                  Go to Collaborators Tab
                </button>
              </ng-template>
            </nz-empty>
          </div>
          <div class="capacity-table"
               *ngIf="projectCapacityMembersList && projectCapacityMembersList.length>0">

            <div class="row">
              <div class="col-md-4 col-lg-3 text-left" colspan="2">Name</div>
              <div class="col-md-1 col-lg-1 text-right" width="140">Working hours</div>
              <div class="col-md-2 col-lg-1 text-right" width="190">Per day</div>
              <div class="col-md-5 col-lg-7 text-center">Working days</div>
            </div>


            <div class="row" *ngFor="let item of projectCapacityMembersList; let i = index;">

              <div class="col-md-4 col-lg-3">
                <span class="sn">{{i + 1}}.</span>
                <nz-avatar [nzSrc]="item.userDetails && item.userDetails.profilePic ? item.userDetails.profilePic : ''"
                           [nzShape]="'circle'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>

                <span class="p-l-5"
                      *ngIf="item.userDetails && item.userDetails.firstName">{{item.userDetails.firstName}} {{item.userDetails.lastName}}</span>
                <div class="cap-email"><small class="text-muted">{{item.emailId}}</small></div>

              </div>
              <div class="col-md-1 col-lg-1 text-right">
                <input nz-input placeholder="Hours" disabled numeric numericType="decimal"
                       [(ngModel)]="item.workingCapacity" (keyup)="calculateTotal()" class="team-list-input"
                       nzSize="small" maxlength="3"/>
              </div>
              <div class="col-md-2 col-lg-1 text-right">
                <input nz-input placeholder="Hours" numeric numericType="decimal"
                       [(ngModel)]="item.workingCapacityPerDay" (keyup)="calculateTotal()" class="team-list-input"
                       nzSize="small" maxlength="2"/>
              </div>
              <div class="col-md-5 col-lg-7">
                  <span *ngFor="let wd of item.workingDays">
                    <button *ngIf="wd.selected" (click)="selectDay(wd,item)" nz-button nzType="primary" nzSize="small"
                            nzShape="rounded" class="m-r-5"><i nz-icon nzType="check"></i>{{wd.day}}</button>
                    <button *ngIf="!wd.selected" (click)="selectDay(wd, item)" nz-button nzType="link" nzSize="small"
                            nzShape="rounded" class="m-r-5"><i nz-icon nzType="check"></i>{{wd.day}}</button>
                  </span>
              </div>
            </div>


            <div class="row m-b-10">
              <div class="col-md-4 col-lg-3"></div>
              <div class="col-md-1 col-lg-1 text-right">Total: {{totalCapacity}}</div>
              <div class="col-md-2 col-lg-1 text-right">Total: {{totalCapacityPerDay}}</div>
              <div class="col-md-5 col-lg-7"></div>
            </div>

            <button (click)="saveCapacity()" [nzLoading]="updateRequestInProcess" nz-button nzSize="small"
                    nzType="primary">Save
            </button>
          </div>
        </aside>
      </ng-container>
      <!-- capacity tab -->

    </nz-card>
  </section>

  <!-- region add project -->
  <ng-container *ngIf="projectModalIsVisible && !getProjectsInProcess">
    <aavantan-app-add-project
      [projectListData]="projectListData"
      [projectModalIsVisible]="projectModalIsVisible"
      (toggleShow)="projectModalShow()">
    </aavantan-app-add-project>
  </ng-container>
  <!-- endregion -->

  <!-- region add/edit status -->
  <ng-container *ngIf="addStatusModalIsVisible">
    <aavantan-add-status
      [addEditprojectStatusData]="addEditprojectStatusData"
      [addStatusModalIsVisible]="addStatusModalIsVisible"
      (toggleAddStatusShow)="toggleAddStatusShow($event)">
    </aavantan-add-status>
  </ng-container>
  <!-- endregion -->

  <!-- region add/edit priority -->
  <ng-container *ngIf="addPriorityModalIsVisible">
    <aavantan-add-priority
      [priorityList]="priorityList"
      [addEditprojectPriorityData]="addEditprojectPriorityData"
      [addPriorityModalIsVisible]="addPriorityModalIsVisible"
      (toggleAddPriorityShow)="toggleAddPriorityShow($event)">
    </aavantan-add-priority>
  </ng-container>
  <!-- endregion -->


  <!-- region add/edit task type -->
  <ng-container *ngIf="addTaskTypeModalIsVisible">
    <aavantan-task-type
      [typesList]="typesList"
      [addEditprojectTaskTypeData]="addEditprojectTaskTypeData"
      [addTaskTypeModalIsVisible]="addTaskTypeModalIsVisible"
      (toggleAddTaskTypeShow)="toggleAddTaskTypeShow($event)">
    </aavantan-task-type>
  </ng-container>
  <!-- endregion -->


  <!-- region move status -->
  <ng-container *ngIf="moveStatusModalIsVisible">
    <aavantan-move-status
      [moveStatusModalIsVisible]="moveStatusModalIsVisible"
      (toggleMoveStatusShow)="toggleMoveStatusShow($event)">
    </aavantan-move-status>
  </ng-container>
  <!-- endregion -->

</section>

