#settings-page{
  .assigned-user-input {
    height: 36px;
  }
  .ant-tabs-extra-content{
    line-height: initial!important;
  }
  .ant-card-body{
    padding: 0px;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    background: #f9f9f9;
  }
  .ant-tabs-bar {
    border-bottom: 0px;
  }

  .setting-tab-btn{
    padding: 0px;
    li{
      display: inline-block;
      border-radius: 4px;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      a {
        text-align: center;
        background: #ffffff!important;
        border: 0px solid #87878a;
        height: 95px;
        min-width: 124px;
        padding: 19px 5px 5px 5px !important;
        font-weight: 400;
        font-size: 14px;
        box-shadow: 0px 5px 15px -8px #5f5f5fc4;
        border-radius: 8px;
        color: #6E829C;
        &:hover{
          border: 0px solid #2680EB;
          color: #6E829C;
          i{
            color: #2680EB;
          }
        }
        div{
          margin-top: 14px;
        }
        img{
          height: 24px;
          width: 24px;
        }
        i {
          display: block!important;
          margin-bottom: 10px;
          color: #868383;
          font-size: 20px;
        }
      }
      .active{
        border: 0px solid #2680EB;
        background: #2680EB!important;
        color: #ffffff!important;
        i{
          color: #ffffff;
        }
      }
    }
  }
  .stages-list{
    li {
      cursor: pointer;
      padding: 10px 15px;
      border: 0px solid #87878a;
      box-shadow: 0px 1px 4px -1px #5f5f5fc4;
      border-radius: 2px;
      list-style: none;
      margin-bottom: 10px;
      background: #f5f5f5;
      position: relative;
      &:hover{
        background: #ffffff;
      }
      &:hover span{
        color: #2680EB;
      }
      i.close{
        position: absolute;
        top: 13px;
        font-size: 14px;
        opacity: 1;
        text-shadow: none;
        right: 10px;
      }
      i:hover{
        color: red;
      }
      img{
        border-radius: 50%;
      }
      .user-name-on-collaborator{
        line-height: 10px;
      }
    }
  }

  .task-type-section{
    .ant-form-item{
      margin-bottom: 5px;
    }
    .ant-input{
      padding: 6px 11px!important;
    }
    .task-type-input{
      //text-transform: uppercase;
    }
    input[type="color"] {
      -webkit-appearance: none;
      border: none;
      width: 20px;
      height: 20px;
    }
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }
    input[type="color"]::-webkit-color-swatch {
      border: none;
    }
  }

  .capacity-table{
    .row{
      border-bottom:1px solid #dddddd;
      padding: 5px 0px;
      .ant-btn {
        border-radius: 25px;
        min-width: 70px;
        padding: 3px 8px !important;
        text-transform: uppercase;
      }
    }
    .ant-btn>.anticon+span, .ant-btn>span+.anticon {
      margin-left: 0px!important;
    }
    .ant-modal-body{
      padding: 0px!important;
    }
    th, td{
      padding: 5px!important;
      vertical-align: top;
    }
    .ant-table-tbody > tr:last-child > td{
      border-bottom: 0px;
    }
    input{
      max-width: 50px;
      height: 25px;
      font-size: 12px;
      padding: 5px;
      text-align: right;
    }
    .cap-email{
      line-height: 13px;
      padding-left: 55px;
    }
    .sn{
      min-width: 25px;
      display: inline-block;
      font-weight: bold;
    }
  }

.sprintboard-container{
  width: 100%;
}
.display-name-label{
  line-height: 13px;
  height: 30px;
  text-align: left;
}

  @media screen and (max-width: 768px) {
    .setting-tab-btn {
      li {
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        a {
          height: auto;
          width: auto;
          padding: 1px 9px;
          font-size: 12px;
          line-height: 32px;
          border-radius: 1px;
          i {
            display: inline-block!important;
            margin-right: 2px;
            font-size: 13px;
          }
        }
      }
    }
  }
}
