.capacity-table {
  margin-top: -16px;
  padding: 0 4px;
  overflow: auto;
  .ant-modal-body {
    padding: 0 !important;
  }

  .ant-btn {
    border-radius: 25px;
    min-width: 50px;
    padding: 4px !important;
    text-transform: uppercase;
    span{
      margin-left: 3px!important;
      font-size: 11px!important;
    }
  }

  .ant-btn.ant-btn-link {
    padding: 3px!important;
  }
  .ant-btn > .anticon + span,
  .ant-btn > span + .anticon {
    margin-left: 0 !important;
  }
  th,
  td {
    padding: 5px !important;
  }
  th{
    font-weight: 400;
    font-size:13px;
    line-height: initial;
  }
  .p-r-0{
    padding-right: 0 !important;
  }
  .ant-table-tbody > tr:last-child > td {
    border-bottom: 0;
  }
  input {
    max-width: 50px;
    height: 25px;
    font-size: 12px;
    padding: 5px;
    text-align: right;
  }
}

.filter-section {
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
}

