<div class="container-fluid p-0">
    <div class="row" *ngIf="view == 'cardView'">
        <div class="col-md-3" *ngFor="let item of taskList">
            <nz-card nzSize="small" class="card-view-card" [ngStyle]="{'border-left':'solid 4px '+ item.priority.color +'' }">

              <div class="clearfix m-b-10 font-size-12">

                <span [ngStyle]="{'color': item.taskType.color}" [nzTitle]="item.taskType && item.taskType.name ? item.taskType.name : ''" nz-tooltip>{{item.displayName}}</span>

                <span class="float-right">
                  <nz-tag *ngIf="item.status && item.status.name" [nzColor]="'#DEDFE2'" style="text-transform: initial;" class="text-black">{{item.status.name}}</nz-tag>
                  <nz-tag *ngIf="!item.status" [nzColor]="'#DEDFE2'" class="text-black">-</nz-tag>
                </span>

              </div>

              <div class="d-flex justify-content-between m-b-10">
                    <div class="media">
<!--                        <span *ngIf="item && item.priority">-->
<!--                          <i [nzTitle]="item.priority.name" nz-tooltip [ngStyle]="{'margin-top': '2px','border-left':'solid 5px '+item.priority.color+'', 'height':'18px' }"></i>-->
<!--                        </span>-->
<!--                        <i *ngIf="!item.priority" [ngStyle]="{'border-left':'solid 5px #ffffff','margin-top': '4px', 'height':'18px' }"></i>-->
<!--                        <i [ngStyle]="{'color': item.taskType.color}" [nzTitle]="item.taskType.name" nz-tooltip class="fas fa-circle m-l-5 m-t-5"></i>-->
                        <div>
                            <h6 class="m-b-0">
                                <a href="javascript:void(0)" (click)="viewTask(item)">
                                    <p class="ellipsis text-black">{{item.displayName}}: {{item.name}}</p>
                                </a>
                            </h6>
                        </div>
                    </div>
                </div>



                <div class="m-t-10 font-12">
                    <div class="d-flex justify-content-between align-items-center" style="min-height:24px;">


                      <span *ngIf="!item.assignee">
                        <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
                      </span>
                      <span *ngIf="item.assignee" class="user-name">
                        <nz-avatar nzSize="small" nzIcon="user" [nzSrc]="item.assignee.profilePic" nz-tooltip [nzTitle]="item.assignee && item.assignee.firstName ? item.assignee.firstName : ''"></nz-avatar>
                        {{item.assignee && item.assignee.firstName ? item.assignee.firstName : item.assignee.emailId}}
                      </span>

                      <span class="float-right clearfix">
                        <span class="p-r-10">{{item.estimatedTimeReadable ? item.estimatedTimeReadable : 0 }}</span>
                        <a *ngIf="showLogOption" (click)="timeLog(item)" href="javascript:void(0);" class="float-right text-primary"><i nz-icon nzType="clock-circle" theme="outline"></i> Log Time</a>
                      </span>


                    </div>
                </div>

                <div *ngIf="showProgressOption && item.progress">
                  <div class="d-flex justify-content-between">
                    <span class="font-weight-semibold">Progress</span>
                    <span class="font-weight-semibold">{{item.progress}}%</span>
                  </div>
                  <div style="height:20px;">
                    <nz-progress *ngIf="item.progress && item.status && item.status !== 'Behind'" [nzPercent]="item.progress" [nzShowInfo]="false" nzSize="small"></nz-progress>
                    <nz-progress *ngIf="item.progress && item.status && item.status == 'Behind'" [nzPercent]="item.progress" [nzShowInfo]="false" nzSize="small" nzStatus="exception"></nz-progress>
                  </div>
                </div>

            </nz-card>
        </div>
    </div>

    <nz-table #listViewTable [nzData]="taskList" *ngIf="view == 'listView'" nzSize="small">
        <thead>
            <tr>

              <th class="text-center" width="50" *ngIf="showRemoveIcon">#</th>
              <th class="text-center" width="50" *ngIf="showCheckboxOption && tasksSelected && tasksSelected.sprintId">#</th>
                <th class="text-left" width="115">
                  <span>Priority</span>
                  <span class="p-l-10" *ngIf="showSorting">
                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'priority'}"></ng-container>
                  </span>
                </th>
                <th class="text-left" width="155">
                  <span>Task Type</span>
                  <span class="p-l-10" *ngIf="showSorting">
                      <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'taskType'}"></ng-container>
                    </span>
                </th>
                <th style="min-width: 400px; max-width: 40%;">
                  <span>Title</span>
<!--                  <span class="p-l-10" *ngIf="showSorting">-->
<!--                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'name'}"></ng-container>-->
<!--                  </span>-->
                </th>
                <th class="text-center" *ngIf="showProgressOption">Progress</th>
                <th class="text-center" width="110">
                  <span>Status</span>
<!--                  <span class="p-l-10" *ngIf="showSorting">-->
<!--                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'status'}"></ng-container>-->
<!--                  </span>-->
                </th>
                <th class="text-left" width="160">Member</th>
                <th class="text-right" width="195">
                  <span>Estimate</span>
                  <span *ngIf="showLogOption">/Log Time</span>
                  <span class="p-l-10" *ngIf="showSorting">
                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'estimatedTime'}"></ng-container>
                  </span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listViewTable.data" [ngClass]="{'has-missing-data':(tasksSelected && tasksSelected.sprintId) && (!item.assignee || !item.estimatedTime) }">

                <td data-label="#" *ngIf="showRemoveIcon" class="text-center">
                  <i *ngIf="showRemoveIcon" (click)="deselectTaskFromSprint(item)" nz-icon nzType="close-circle" class="text-muted" theme="fill"></i>
                </td>
                <td data-label="#" *ngIf="showCheckboxOption && tasksSelected && tasksSelected.sprintId" class="text-center">

                  <label *ngIf="item.assignee && item.estimatedTime" nz-checkbox [(ngModel)]="item.isSelected" (nzCheckedChange)="selectTaskForSprint(item)"></label>

                  <i *ngIf="(tasksSelected && tasksSelected.sprintId) && (!item.assignee || !item.estimatedTime)"
                     class="text-red"
                     nz-icon nz-tooltip nzTitle="Assignee or Estimated time is missing" nzType="exclamation-circle"
                     style="margin-left: -8px;" theme="fill"></i>
                </td>

                <td data-label="Priority" class="text-left">
                  <span *ngIf="item && item.priority">
                    <i [ngStyle]="{'border-left':'solid 3px '+item.priority.color+'', 'height':'15px' }"></i>
                  </span>
                  <i *ngIf="!item.priority" [ngStyle]="{'border-left':'solid 3px #ffffff', 'height':'15px' }"></i>
                  <span class="p-l-5">{{item.priority && item.priority.name ? item.priority.name : '-'}}</span>
                </td>
                <td data-label="Task Type" class="text-left">
                  <span *ngIf="!item.taskType">-</span>
                  <a href="javascript:void(0);" (click)="viewTask(item)" *ngIf="item.taskType && item.taskType.name" [ngStyle]="{'color': item.taskType.color}">#{{item.displayName}}</a>
                </td>
                <td data-label="Title">
                    <div class="media align-items-center">
<!--                        <i [ngStyle]="{'color': item.taskType.color}" [nzTitle]="item.taskType.name" nz-tooltip class="fas fa-circle m-l-5"></i>-->
                        <div class="">

                            <h6 class="m-b-0">
                                <p class="m-0" style="max-width: 400px;" nz-paragraph nzEllipsis [nzEllipsisRows]="1">
                                    <a href="javascript:void(0)" (click)="viewTask(item)" class="text-black">
<!--                                      {{item.displayName}}: -->
                                      {{item.name}}
                                    </a>
                                </p>
                            </h6>

                        </div>
                    </div>
                </td>
                <td *ngIf="showProgressOption" data-label="Progress" class="text-center">
                    <span *ngIf="!item.progress">-</span>
                    <nz-progress *ngIf="item.progress>0" [nzPercent]="item.progress" [nzShowInfo]="true" nzSize="small"></nz-progress>
                    <nz-progress *ngIf="item.progress === 0" [nzPercent]="item.progress" [nzShowInfo]="true" nzSize="small" nzStatus="exception"></nz-progress>
                </td>
                <td data-label="Status" class="text-center">
                    <span *ngIf="!item.status">-</span>
                    <nz-tag *ngIf="item.status && item.status.name" [nzColor]="'#DEDFE2'" class="text-black">{{item.status.name}}</nz-tag>
                </td>
                <td data-label="Members" class="text-left text-black">
                    <span *ngIf="!item.assignee">-</span>
                  <span *ngIf="item.assignee"> <nz-avatar nzSize="small" nzIcon="user" class="m-r-5" [nzSrc]="item.assignee.profilePic" nz-tooltip [nzTitle]="item.assignee && item.assignee.firstName ? item.assignee.firstName : ''"></nz-avatar><p class="assignee-name" nz-paragraph nzEllipsis [nzEllipsisRows]="1">{{item.assignee && item.assignee.firstName ? item.assignee.firstName : item.assignee.emailId}}</p></span>

                    <!--          <a routerLinkActive="router-link-active"  class="m-r-5" *ngFor="let itm of (item.assignee ? item.assignee.slice(0,2): [])">-->
                    <!--            <nz-avatar  nzSize="small" [nzSrc]="itm.profilePic" nz-tooltip [nzTitle]="itm.firstName"></nz-avatar>-->
                    <!--            <span *ngIf="item.assignee.length===1" class="m-l-5">{{itm.firstName}}</span>-->
                    <!--          </a>-->
                    <!--          <a *ngIf="item.assignee.length > 2">-->
                    <!--            <nz-avatar class="font-size-11 text-dark" nzSize="small" [nzText]="'+' + [item.member.length - 2].toString()" nz-tooltip [nzTitle]="[item.assignee.length - 2].toString() + ' More'"></nz-avatar>-->
                    <!--          </a>-->
                </td>
                <td data-label="Estimate" class="text-right">
                    <span class="text-black">{{item.estimatedTimeReadable}}</span>&ensp;<a href="javascript:void(0);" class="float-right text-primary" *ngIf="showLogOption" (toggleTimeLogShow)="toggleTimeLog($event, item)" (click)="timeLog(item)">&nbsp;<i nz-icon nzType="clock-circle" theme="outline"></i> Log Time</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>


<!-- sorting icon template -->
<ng-template #sortTemplate let-column="column">

  <i class="fas fa-long-arrow-alt-up" *ngIf="sortingRequest.sortBy !== column" (click)="sortButtonClicked('asc', column)" [ngClass]="{'text-info': sortingRequest.sortBy === column && sortingRequest.sort === 'asc'}"></i>

  <i class="fas fa-long-arrow-alt-up" *ngIf="sortingRequest.sortBy === column && sortingRequest.sort === 'asc'" (click)="sortButtonClicked('desc', column)" [ngClass]="{'text-info': sortingRequest.sortBy === column && sortingRequest.sort === 'asc'}"></i>

  <i class="fas fa-long-arrow-alt-down" *ngIf="sortingRequest.sortBy === column && sortingRequest.sort === 'desc'" (click)="sortButtonClicked('asc', column)" [ngClass]="{'text-info': sortingRequest.sortBy === column && sortingRequest.sort === 'desc'}"></i>

</ng-template>
<!-- sorting -->

<app-timelog [timelogModalIsVisible]="timelogModalIsVisible" [selectedTaskItem]="selectedTaskItem" (toggleTimeLogShow)="timeLog(selectedTaskItem)"></app-timelog>
