<div class="container-fluid p-0">


  <div class="row m-b-10 justify-content-end">

    <div class="col text-right" style="max-width: 360px;">

      <div class="ng-select-content">



          <button [nzTitle]="'Filter Status'" nz-tooltip nz-button nzType="default" (click)="showAll()" *ngIf="selectedColumnDataSource?.length===0">

            <i nz-icon nzType="filter" theme="outline" class="m-r-5"></i> Show All Status</button>

          <nz-select
            *ngIf="selectedColumnDataSource?.length>0"
            class="ng-select"
            [nzMaxTagCount]="2"
            (ngModelChange)="updateSingleChecked($event)"
            [nzMaxTagPlaceholder]="tagPlaceHolder"
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="selectedColumnDataSource">
            <nz-option *ngFor="let item of statusColumnDataSource" [nzLabel]="item.label" [nzValue]="item.value"></nz-option>
          </nz-select>
          <ng-template #tagPlaceHolder let-selectedColumnDataSource>{{ selectedColumnDataSource.length }}+ more</ng-template>

      </div>

    </div>

    <div class="col text-right" style="max-width: 320px;">

      <nz-input-group [nzSuffix]="suffixIcon">
        <input placeholder="Search..." nzSize="small" nz-input
               style="height:32px;" [(ngModel)]="searchValue" (ngModelChange)="searchValueSubject$.next($event)"/>
      </nz-input-group>

      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>

    </div>

  </div>



  <div class="row" *ngIf="view == 'cardView'">

    <div style="height:280px; width:300px; margin: auto;" *ngIf="!taskList || (taskList && taskList?.length===0)" >

      <div style="height:180px;">
        <nz-empty
          [nzNotFoundImage]="'../../../assets/images/not-found/no-data.svg'"
          [nzNotFoundContent]="contentTpl">
          <ng-template #contentTpl>

            <div class="m-b-20"><span>Task Not Found</span></div>

            <button
              nz-button
              nzType="primary"
              (click)="createTask()">
              Create New Task
            </button>

          </ng-template>
        </nz-empty>
      </div>

    </div>

    <div class="col-md-3" *ngFor="let item of taskList">

      <nz-card nzSize="small" class="card-view-card" [ngStyle]="{'border-left':'solid 4px '+item.priority?.color+''}">

        <div class="clearfix m-b-10 font-size-12">

          <a class="d-inline-block p-t-5 text-primary cursor-pointer" routerLink="../../task/{{item.displayName}}"
                [nzTitle]="item.taskType && item.taskType.name ? item.taskType.name : ''"
                nz-tooltip>{{item.displayName}}</a>

            <span class="float-right">
                <nz-tag *ngIf="item.status && item.status.name" [nzColor]="item.status.color ? item.status.color : '#475364'"
                        style="text-transform: initial;" class="text-white">{{item.status.name}}</nz-tag>
                <nz-tag *ngIf="!item.status" [nzColor]="'#F1F2F4'" class="text-black">-</nz-tag>
            </span>

        </div>

        <div class="d-flex justify-content-between m-b-10">
          <div class="media" style="height: 40px">

            <a routerLink="../../task/{{item.displayName}}">
              <p nz-paragraph nzEllipsis [nzEllipsisRows]="2" class="text-black m-0">{{item.displayName}}
                : {{item.name}}</p>
            </a>

          </div>
        </div>


        <div class="m-t-10 font-size-13">
          <div class="d-flex justify-content-between align-items-center" style="min-height:24px;">

            <span>{{item.estimatedTimeReadable ? item.estimatedTimeReadable : 0 }}</span>

            <span>
                        <a *ngIf="showLogOption" (click)="timeLog(item)" href="javascript:void(0);"
                           class="text-primary"><i nz-icon nzType="clock-circle" theme="outline"></i> Log Time</a>
                      </span>


          </div>
        </div>

        <div *ngIf="showProgressOption" class="progress-box-section">
          <div class="d-flex justify-content-between">
            <span class="text-gray-light">Progress<span
              class="font-weight-semibold text-black font-weight-bold p-l-5">{{item.progress ? item.progress : '0'}}
              %</span></span>
            <span>
                      <span *ngIf="!item.assignee">
                        <nz-avatar nzSize="small" nzIcon="user"></nz-avatar>
                      </span>
                      <span *ngIf="item.assignee">
                        <nz-avatar style="margin-top: -10px;" nzSize="small" nzIcon="user"
                                   [nzSrc]="item.assignee.profilePic" nz-tooltip
                                   [nzTitle]="item.assignee && item.assignee.firstName ? item.assignee.firstName : ''"></nz-avatar>
                        <div
                          class="d-inline-block user-name p-l-5 text-black">{{item.assignee && item.assignee.firstName ? item.assignee.firstName : item.assignee.emailId}}</div>
                      </span>
                    </span>
          </div>
        </div>

      </nz-card>

    </div>
  </div>


  <nz-spin [nzSpinning]="addTaskToSprintInProgress || removeTaskFromSprintInProgress"
           [nzTip]="addTaskToSprintInProgress ? 'Adding Task to Sprint...' : 'Removing Task from Sprint...'">


      <ng-template #noResult>
        <nz-empty
          [nzNotFoundImage]="'../../../assets/images/not-found/no-data.svg'"
          [nzNotFoundContent]="contentTpl">
          <ng-template #contentTpl>

            <div class="m-b-20"><span>Task Not Found</span></div>

            <button
              nz-button
              nzType="primary"
              (click)="createTask()">
              Create New Task
            </button>

          </ng-template>
        </nz-empty>
      </ng-template>


    <nz-table #listViewTable [nzData]="taskList" *ngIf="view == 'listView'"
              nzSize="small" [ngClass]="{'draft-table':isDraftTable}"
              [nzFrontPagination]="false" [nzTotal]="requestModel.totalItems"
              [nzPageIndex]="requestModel.page" [nzPageSize]="requestModel.count"
              [nzShowPagination]="true"
              [nzNoResult]="noResult"
              (nzPageIndexChange)="pageChangedEvent.emit($event)">
      <thead>
      <tr>

        <th class="text-center td-sn" *ngIf="isDraftTable">#</th>

        <th class="text-center td-sn" style="width:50px;max-width:50px;min-width:50px;"
            *ngIf="showCheckboxOption && (activeSprintId || tasksSelected?.sprintId || sprintId)">#
        </th>

        <th class="text-left td-priority">
          <span>Priority</span>
          <span class="p-l-10" *ngIf="showSorting">
                  <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'priority'}"></ng-container>
                </span>
        </th>

        <th class="text-left td-type">
          <span>Type</span>
          <span class="p-l-10" *ngIf="showSorting">
                      <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'taskType'}"></ng-container>
                    </span>
        </th>

        <th class="td-title">
          <span>Title</span>
        </th>

        <th class="text-center td-status">
          <span>Status</span>
        </th>
        <th class="text-center td-reporter">Reporter</th>

        <!-- <th class="text-center" width="110">Progress</th>-->

        <th class="text-center td-assignee">Assignee</th>

        <th class="text-right td-estimates">
          <span>Estimates</span>
          <span class="p-l-10" *ngIf="showSorting">
                    <ng-container *ngTemplateOutlet="sortTemplate;context: {column: 'estimatedTime'}"></ng-container>
                  </span>
        </th>

        <th class="text-center td-log-hours">
          <span>Log Hours</span>
        </th>

      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of listViewTable.data"
          [ngClass]="{'has-missing-data':(tasksSelected && tasksSelected.sprintId) && (!item.assigneeId || !item.estimatedTime) }">

        <td data-label="#" *ngIf="isDraftTable" class="text-center">
          <i *ngIf="isDraftTable" (click)="deselectTaskFromSprint(item)" nz-icon nzType="close-circle"
             class="remove-item cursor-pointer text-muted" theme="fill"></i>
        </td>

        <td data-label="#" *ngIf="showCheckboxOption &&
                (activeSprintId || tasksSelected?.sprintId || sprintId)" class="text-center">

          <label *ngIf="item.assigneeId && item.estimatedTime" nz-checkbox [(ngModel)]="item.isSelected"
                 (nzCheckedChange)="selectTaskForSprint(item, $event)"></label>

          <i *ngIf="(tasksSelected && tasksSelected.sprintId) && (!item.assigneeId || !item.estimatedTime)"
             class="text-red"
             nz-icon nz-tooltip nzTitle="Assignee or Estimated time is missing" nzType="exclamation-circle"
             style="margin-left: -8px;" theme="fill"></i>
        </td>

        <td data-label="Priority" class="text-left">
                  <span *ngIf="item && item.priority">
                    <i [ngStyle]="{'border-left':'solid 3px '+item.priority.color+'', 'height':'15px' }"></i>
                  </span>
          <i *ngIf="!item.priority" [ngStyle]="{'border-left':'solid 3px #ffffff', 'height':'15px' }"></i>
          <span class="p-l-5">{{item.priority && item.priority.name ? item.priority.name : '-'}}</span>
        </td>

        <td data-label="Type" class="text-left">
          <span *ngIf="!item.taskType">-</span>
          <a routerLink="../../task/{{item.displayName}}" class="text-primary" *ngIf="item.taskType && item.taskType.name">{{item.displayName}}</a>
        </td>

        <td data-label="Title">
          <div class="media align-items-center">

            <div class="">

              <h6 class="m-b-0">
                <p class="m-0" style="max-width: 400px;" nz-paragraph nzEllipsis [nzEllipsisRows]="1">
                  <a routerLink="../../task/{{item.displayName}}" class="text-black">
                    {{item.name}}
                  </a>
                </p>
              </h6>

            </div>
          </div>
        </td>


<!--        <td *ngIf="showProgressOption" data-label="Progress" class="text-center">-->
<!--          <span *ngIf="!item.progress">-</span>-->
<!--          <span *ngIf="item.progress">{{item.progress}}%</span>-->
<!--        </td>-->

        <td data-label="Status" class="text-center">
          <span *ngIf="!item.status">-</span>
          <nz-tag *ngIf="item.status && item.status.name" [nzColor]="item.status.color ? item.status.color : '#475364'">
            <p class="status-tag-lable m-0 text-white" nz-paragraph nzEllipsis [nzEllipsisRows]="1" nz-tooltip
               [nzTitle]="item.status && item.status.name ? item.status.name : ''">{{item.status.name}}</p>
          </nz-tag>
        </td>

        <td data-label="Reporter" class="text-center">
          <span *ngIf="!item.createdBy">-</span>
          <span *ngIf="item.createdBy" nz-tooltip
                [nzTitle]="item.assignee && item.createdBy.firstName ? item.createdBy.firstName +' '+item.createdBy.lastName : item.createdBy.emailId"> <nz-avatar
            nzSize="small" nzIcon="user" class="m-r-5" [nzSrc]="item.createdBy.profilePic"></nz-avatar></span>
        </td>

        <td data-label="Assignee" class="text-center">
          <span *ngIf="!item.assignee">-</span>
          <span *ngIf="item.assignee" nz-tooltip
                [nzTitle]="item.assignee && item.assignee.firstName ? item.assignee.firstName+' '+item.createdBy.lastName : item.assignee.emailId"> <nz-avatar
            nzSize="small" nzIcon="user" class="m-r-5" [nzSrc]="item.assignee.profilePic"></nz-avatar>  </span>
        </td>

        <td data-label="Estimate" class="text-right">
          <span class="text-black display-block">{{item.estimatedTimeReadable}}</span>
        </td>

        <td data-label="Log Hours" class="text-center">
          <a href="javascript:void(0);" class="text-primary" *ngIf="showLogOption"
                                                                        (click)="timeLog(item)">&nbsp;<i
          nz-icon nzType="clock-circle" theme="outline"></i></a>
        </td>

      </tr>
      </tbody>
    </nz-table>
  </nz-spin>

</div>

<!-- sorting icon template -->
<ng-template #sortTemplate let-column="column">

  <i class="fas fa-long-arrow-alt-up" *ngIf="requestModel.sort !== column"
     (click)="sortingChangedEvent.emit({type: 'asc', columnName: column})"
     [ngClass]="{'text-info': requestModel.sort === column && requestModel.sortBy === 'asc'}"></i>

  <i class="fas fa-long-arrow-alt-up" *ngIf="requestModel.sort === column && requestModel.sortBy === 'asc'"
     (click)="sortingChangedEvent.emit({type: 'desc', columnName: column})"
     [ngClass]="{'text-info': requestModel.sort === column && requestModel.sortBy === 'asc'}"></i>

  <i class="fas fa-long-arrow-alt-down" *ngIf="requestModel.sort === column && requestModel.sortBy === 'desc'"
     (click)="sortingChangedEvent.emit({type: 'asc', columnName: column})"
     [ngClass]="{'text-info': requestModel.sort === column && requestModel.sortBy === 'desc'}"></i>

</ng-template>
<!-- sorting -->

<app-timelog [timelogModalIsVisible]="timelogModalIsVisible" [selectedTaskItem]="selectedTaskItem"
             (toggleTimeLogShow)="timeLog(selectedTaskItem)"></app-timelog>
