<nz-modal [(nzVisible)]="timelogModalIsVisible" [nzTitle]="titleTemp" nzClassName="time-log-modal" nzFooter="nzModalFooter" nzWidth="300" nzClosable="false">
  <form >
      <div >
        <nz-form-item>
          <nz-form-label>Description<span class="text-danger">*</span></nz-form-label>
              <textarea  nz-input rows="2" placeholder="What you have done..."></textarea>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Start-End<span class="text-danger">*</span></nz-form-label>
                <nz-range-picker [nzFormat]="dateFormat" ></nz-range-picker>
        </nz-form-item>
        <nz-form-item>
          <div class="row">
              <div class="col pr-1">
                  <nz-form-label>Spent Time<span class="text-danger">*</span></nz-form-label>
                  <input nz-input nzSize="small" type="text" placeholder="5h" />
              </div>
              <div class="col pl-1">
                <nz-form-label>Remaining Time<span class="text-danger">*</span></nz-form-label>
                  <input nz-input nzSize="small" type="text" placeholder="3h" />
              </div>
          </div>
        </nz-form-item>
      </div>
      <div *nzModalFooter>
        <button nz-button nzSize="small" nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzSize="small" nzType="primary" (click)="handleOk()">Save</button>
      </div>
    <ng-template #titleTemp>
      <span>{{selectedTaskItem.taskId}}</span>
    </ng-template>
  </form>
</nz-modal>
