<nz-modal [(nzVisible)]="teamCapacityModalIsVisible" nzTitle="Capacity" nzClassName="capacity-modal" nzFooter="#nzModalFooter" nzWidth="500" nzClosable="false">

  <div class="capacity-table">
    <nz-table
      [nzData]="sprintData.membersCapacity"
      [nzShowPagination]="false">
      <thead>
      <tr>
        <th>Name</th>
        <th class="text-right" width="200">Working hours</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let item of sprintData.membersCapacity">
        <td><nz-avatar nzSize="small" nzSrc="{{item.user.profilePic}}"></nz-avatar> {{item.user.firstName}} {{item.user.lastName}}</td>
        <td class="text-right"><input nz-input numeric numericType="number" maxlength="3" placeholder="Hours" class="team-list-input" [(ngModel)]="item.workingCapacity" (keyup)="calculateTotalCapacity()" nzSize="small" maxlength="3"/></td>
      </tr>
      <tr>
        <td class="text-right" colspan="2">
          <nz-tag [nzColor]="'#F8F8F8'" class="text-gray-light">Total Capacity : <strong class="text-body" >{{sprintData.totalCapacityReadable ? sprintData.totalCapacityReadable+'h' : '0h'}}</strong></nz-tag>
          </td>
      </tr>

      </tbody>
    </nz-table>
  </div>

  <div *nzModalFooter>
    <div class="row">

      <div class="col text-right">
        <button nz-button nzType="default" nzSize="small" (click)="basicModalHandleCancel()">
          <span>Cancel</span>
        </button>
        <button nz-button nzType="primary" nzSize="small" (click)="saveForm()">
          <span>Save</span>
        </button>
      </div>

    </div>
  </div>
</nz-modal>
