.capacity-table{
  margin-top: -16px;
  padding: 0px 9px;
  .ant-modal-body{
    padding: 0px!important;
  }
  th, td{
    padding: 5px!important;
  }
  .ant-table-tbody > tr:last-child > td{
    border-bottom: 0px;
  }
  input{
    max-width: 50px;
    height: 25px;
    font-size: 12px;
    padding: 5px;
    text-align: right;
  }
}
