.ant-list-item {
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
}
.edit-comment{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 22px;
  width: 22px;
  font-size: 17px;
  &:hover{
    color:#000000;
    cursor: pointer;
  }
}
.pin-activity{
  position: absolute;
  right: 25px;
  top: 0px;
  height: 22px;
  width: 22px;
  display: inline-block;
  background-size: 22px 22px;
  content: url("../../../assets/images/pin-o.png");
  cursor: pointer;
  &:hover {
    content: url("../../../assets/images/pin-fill.png");
  }
}
.pin-activity.pinned{
  content: url("../../../assets/images/pin-fill.png");
}
