.project-name-btn{
  font-size: 17px!important;
  text-transform: initial;
  font-weight: 400;
  &:hover{
    background: none!important;
  }
  .project-avatar {
    color:#ffffff;
    background-color:#00255B;
    border-radius: 7px;
    box-shadow: 0px 0px 1px #0000000D;
  }
}

.avatar-bg{
  width: 31px;
  height: 31px;
  line-height: 31px;
}
.header .nav-wrap .nav-right li > a .ant-badge{
  font-size: 13px;
}
