<nz-modal [(nzVisible)]="sprintModalIsVisible" [nzTitle]="titleTemp" nzClassName="sprint-modal" nzFooter="nzModalFooter" nzWidth="650" nzClosable="false">
  <form [nzLayout]="'vertical'" [formGroup]="sprintForm" autocomplete="off" nz-form>
    <ng-container>
      <section class="draft-sprint-box">

        <div class="steps-content row">

              <div class="col-md-7 col-sm-12">
                <nz-form-item>
                  <nz-form-label>Title<span class="text-danger">*</span></nz-form-label>
                  <input nz-input formControlName="name" placeholder="Enter Sprint Title" nzSize="small" maxlength="50"/>
                </nz-form-item>
              </div>

              <div class="col-md-5 col-sm-12">
                <nz-form-item>
                  <nz-form-label>Duration (Start - End Date)<span class="text-danger">*</span></nz-form-label>
                  <div class="sprint-duration-datepicker">
                    <nz-range-picker ng-model-options="{timezone: 'utc'}"
                                     formControlName="duration" [nzFormat]="dateFormat"></nz-range-picker>
                  </div>
                </nz-form-item>
              </div>


              <div class="col-md-12">
                <nz-form-item>
                  <nz-form-label nzFor="description">Goal</nz-form-label>
                  <nz-form-control>
                    <quill-editor
                      formControlName="goal"
                      placeholder="Enter Sprint Goal (max.250 characters)"
                      [modules]="quillConfig"
                      (onSelectionChanged)="onSelectionChanged($event)"
                      (onContentChanged)="onContentChanged($event)"></quill-editor>
                  </nz-form-control>
                </nz-form-item>
              </div>

        </div>

      </section>

    </ng-container>

    <div *nzModalFooter>
      <button nz-button nzSize="small" nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzSize="small" nzType="primary" [disabled]="sprintForm.invalid" (click)="createSprint()" [nzLoading]="createSprintInProcess">Save</button>
    </div>
    <ng-template #titleTemp>
      <span>Create Sprint</span>
    </ng-template>
  </form>
</nz-modal>
