<section class="collaborators-avatar">
  <div class="row">
    <div class="col">
    <nz-avatar nzText="U" nzSize="" nzTitle="Umesh Kumar" nzPlacement="top" nz-tooltip class="bg-info"></nz-avatar>
    <nz-avatar nzIcon="user" nzSize="" nzTitle="Pradeep" nzPlacement="top" nz-tooltip nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    <nz-avatar nzIcon="user" class="active-avatar" nzSize="" nzTitle="Sameer" nzPlacement="top" nz-tooltip nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    <nz-avatar nzIcon="user" nzSize="" nzTitle="Vishal" nzPlacement="top" nz-tooltip nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
    </div>
    <div class="col text-right">
      <nz-button-group nz-dropdown [nzDropdownMenu]="changeSprintTemplate" nzPlacement="bottomRight">
        <button nzType="primary" nzSize="small" class="p-l-10 p-r-10" nz-button >Sprint 1
          <i nz-icon nzType="caret-down" class="m-l-10"></i>
        </button>
      </nz-button-group>
      <nz-dropdown-menu #changeSprintTemplate="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item *ngFor="let item of sprintDataSource">{{item.name}}</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</section>

<div class="sprintboard-container">
  <div class="container-fluid">
    <div class="row flex-row flex-nowrap">
      <div class="column" joyrideStep="board" title="Board" text="Board" *ngFor="let item of tasks; let last">
        <div class="card card-block">
          <div class="card-header">{{item.name}} <span class="pull-right "><span class="text-warning">Total hours : 14</span><i class="pl-2 fa fa-ellipsis-v"></i></span></div>
          <bs-sortable [(ngModel)]="item.tasks" [itemTemplate]="itemTemplate" itemClass="sortable-item" itemActiveClass="sortable-item-active" placeholderItem="Drag here" placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper" class="card-body">
          </bs-sortable>
<!--          <div class="card-footer" [outsideClick]="true" [popover]="createTaskSummaryTemplate">+ Add Task</div>-->
          <ng-template #createTaskSummaryTemplate>
            <p>Task Popup here...</p>
<!--            <app-create-task-summary isOpencreateTaskSummaryTemplate></app-create-task-summary>-->
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-item="item" let-index="index">
  <div class="task-card" [ngStyle]="{'border-left': '5px solid '+item.value.taskType.color}">
    <div class="task-body">
      <a href=""><img src="../../../../assets/images/priority/{{item.value.proirity}}.png" height="14" class="m-r-5" /><span class="font-weight-semibold">{{item.value.taskId}}</span>: {{item.value.name}}</a>
    </div>
    <div class="task-footer">
      <span>{{item.value.createdAt | dateAgo }}</span>
      <span class="pull-right"><nz-avatar class="m-r-10" nzIcon="user" nzSrc="{{item.value.assigned.profilePic}}" nzShape="circle"></nz-avatar>  {{item.value.assigned.firstName}}<span class="p-l-5 p-r-5">|</span> <a (click)="timeLog(item.value)" href="javascript:void(0);" class="text-primary"><i nz-icon nzType="clock-circle" theme="outline"></i> Log Time</a></span>
    </div>
  </div>
</ng-template>

<app-timelog [timelogModalIsVisible]="timelogModalIsVisible" [selectedTaskItem]="selectedTaskItem" (toggleTimeLogShow)="timeLog(selectedTaskItem)"></app-timelog>

