#row-main {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
}
#content {
  transition: width 0.3s ease;
  //position: relative;
  label {
    display: inline-block;
    margin-bottom: 4px !important;
  }

  .assign-me {
    float: right;
    margin-top: 5px;
  }

  .btn-logtime {
    position: absolute;
    color: white;
    right: 0px;
    top: 12px;
    font-size: 13px;
  }

  .progress-bar {
    background: #0bbc4a;
  }
}
#sidebar {
  /* for the animation */
  transition: margin 0.3s ease;
  box-shadow: -2px 0px 4px -3px #b3b3b3;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}
.collapsed-title{
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: -60px;
  box-shadow: none;
  border: none;
  transform: rotate(-90deg);
  box-shadow: -1px -2px 3px -1px #c0c0c0;
  background: #3f87f5;
  /* height: 24px; */
  padding: 2px 10px;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

@media (min-width: 992px) {
  .collapsed {
    /* same width as sidebar */
    margin-right: -25%;
  }
}


@media screen and (max-width: 768px) {
  #sidebar{
    padding-top: 70px;
  }
}
