#row-main {
  /* necessary to hide collapsed sidebar */
  overflow-x: hidden;
}

#content {
  .task-sections{
    border: #d6dada 0px solid;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #cecaca;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  .create-task-form {
    position: relative;
  }
  .floating-save-btns {
    z-index: 10;
    position: absolute;
    top: 12px;
    right: 11px;
  }
  .ant-form-item {
    margin-bottom: 5px;
  }
  transition: width 0.3s ease;
  .ant-input-sm {
    padding: 0.25rem 0.6rem;
    height: auto;
  }
  .input-relative-group {
    .ant-input-sm {
      padding-left: 25px!important;
    }
    .fa-circle {
      color: #f3f3f3;
    }
  }
  .ant-btn-sm,
  .ant-btn-group-sm > .ant-btn {
    padding: 0.35rem 0.4rem;
    height: auto;
  }
  .ant-btn-primary {
    padding: 0.35rem 1rem;
  }
  .pin-icon {
    vertical-align: bottom;
  }
  .frozen-div {
    min-height: 250px;
    max-height: 500px;
    overflow: auto;
    background: #ffffff;
    padding: 0px;
    border-radius: 4px;
    box-shadow: 2px 8px 3px -6px #dce0e6;
  }

}

#sidebar {
  /* for the animation */
  height: calc(100vh - 80px);
  transition: margin 0.3s ease;
  box-shadow: -2px 0px 4px -3px #b3b3b3;
}

.comment-history-scrollable{
  height: calc(100vh - 340px);
  overflow: auto;
  overflow-x: hidden;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}

.collapsed-title {
  cursor: pointer;
  position: absolute;
  top: 25%;
  right: -25px;
  box-shadow: none;
  border: none;
  transform: rotate(-90deg);
  box-shadow: -1px -2px 3px -1px #c0c0c0;
  background: #3f87f5;
  /* height: 24px; */
  padding: 2px 10px;
  color: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
  /* Internet Explorer
  filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}

@media (min-width: 992px) {
  .collapsed {
    /* same width as sidebar */
    margin-right: -25%;
  }
}

@media screen and (max-width: 768px) {
  #sidebar {
    padding-top: 70px;
  }
}

.issue-type-btn-grp {
  .ant-btn-icon-only {
    line-height: 1.3 !important;
  }
  .ant-avatar-sm {
    height: 15px !important;
    width: 15px !important;
  }
  .issue-type-icon {
    img {
      border-radius: 50%;
      height: 15px !important;
      width: 15px !important;
    }
    border-radius: 50%;
    height: 15px !important;
    width: 15px !important;
  }
}

.first-section {
  .duration-box {
    padding: 10px;
    background: #f9fbfd;
    position: relative;
    .ant-form-item {
      margin-bottom: 5px;
    }
    .progress-bar {
      background: #0bbc4a;
    }
    .btn {
      position: absolute;
      color: #3f87f5;
      background: #f9fbfd;
      border: none;
      top: -5px;
      right: -5px;
    }
  }
}

.assigned-user-icon {
  position: absolute;
  z-index: 1;
  left: 6px;
  top: 0px;
}

.assigned-user-input {
  padding-left: 28px !important;
}
