label {
  display: inline-block;
  margin-bottom: 4px!important;
}
.assign-me{
  float: right;
  margin-top: 5px;
}
.btn-logtime{
  position:absolute;
  color:white;
  right:0px;
  top:12px;
  font-size: 13px;
}
.progress-bar{
  background: #0bbc4a;
}
