<nz-modal [(nzVisible)]="projectModalIsVisible" nzFooter="#nzModalFooter" nzWidth="700" nzClosable="false">
  <div class="steps-action">

    <div class="text-center">
      <h4>Welcome to Assign.work</h4>
      <p>Wanna add your first project?</p>
    </div>

    <nz-steps [nzCurrent]="swicthStepCurrent">
      <nz-step nzTitle="Organization"></nz-step>
      <nz-step nzTitle="Project"></nz-step>
      <nz-step nzTitle="Collaborators"></nz-step>
      <nz-step nzTitle="Template"></nz-step>
    </nz-steps>

    <!--first-->
    <ng-container *ngIf="swicthStepCurrent===1">
      <div class="min-height-100 m-t-25">
        <form nz-form class="register-form" [formGroup]="projectForm">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="projectName">Project Name</nz-form-label>
            <nz-form-control>
              <input nz-input formControlName="projectName" placeholder="Project Name" autocomplete="Off" nzSize="small"
                     id="projectName">
              <nz-form-explain *ngIf="projectForm.get('projectName').dirty && projectForm.get('projectName').errors">
                Please Enter Project Name! <small class="text-muted"> (Allowed Alphanumeric only)</small>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzFor="description">Description</nz-form-label>
            <nz-form-control>
              <textarea formControlName="description" nz-input rows="3"
                        placeholder="Write something about your project..."></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </ng-container>

    <!-- second-->
    <ng-container *ngIf="swicthStepCurrent===2" class="h-100">
      <div class="min-height-100 m-t-25">
        <form nz-form class="register-form" [formGroup]="collaboratorForm">
          <div class="form-group">
            <label>Collaborators</label>
            <div class="mb-1 collaborators-badge" *ngIf="selectedCollaborators && selectedCollaborators.length>0">
                <span class="badge badge-secondary" *ngFor="let item of selectedCollaborators">
                    <img *ngIf="item.profilePic" src="../../../../assets/images/48.png" height="14">&nbsp;
                    <i class="fa fa-envelope" *ngIf="item.emailId"></i>
                    &nbsp;<span>{{item.emailId}}</span> <i class="fa fa-times" (click)='removeCollaborators(item)'></i>
                </span>
            </div>
            <input
              autocomplete="Off"
              formControlName="collaborators"
              [(ngModel)]="selectedCollaborator"
              (typeaheadOnSelect)="typeaheadOnSelect($event)"
              [typeahead]="members"
              typeaheadOptionField="emailId"
              placeholder="Search or Invite people"
              (keydown)="onKeydown($event)"
              nz-input nzSize="small">
            <nz-form-explain class="text-danger"
                             *ngIf="response && response.message">{{response.message}}</nz-form-explain>
          </div>
        </form>
      </div>
    </ng-container>

    <!--third-->
    <ng-container *ngIf="swicthStepCurrent===3">
      <div class="min-height-100 m-t-25">
        <p class="m-t-25 m-b-25">Select Business {{modalTitle}}</p>
        <div class="text-center">
          <nz-radio-group [(ngModel)]="radioValue">
            <label nz-radio nzValue="A">Software <i nz-icon nzType="info-circle" theme="outline"></i></label>
            <label nz-radio nzValue="B">Task Management <i nz-icon nzType="info-circle" theme="outline"></i></label>
            <label nz-radio nzValue="C">Accounts <i nz-icon nzType="info-circle" theme="outline"></i></label>
            <label nz-radio nzValue="D">Production <i nz-icon nzType="info-circle" theme="outline"></i></label>
          </nz-radio-group>
        </div>
      </div>
    </ng-container>

  </div>

  <div *nzModalFooter>
    <div class="row">

      <div class="col text-left">
        <button nz-button nzType="default" nzSize="small" (click)="basicModalHandleCancel()"
                [disabled]="organizationCreationInProcess">
          <span>Cancel</span>
        </button>
      </div>

      <div class="col">

        <button nz-button nzType="primary" nzSize="small" class="m-r-5" (click)="pre()" *ngIf="swicthStepCurrent > 0">
          <span>Previous</span>
        </button>

        <button nz-button nzType="primary" nzSize="small" (click)="next()" *ngIf="swicthStepCurrent < 3"
                [nzLoading]="organizationCreationInProcess">
          <span>Next</span>
        </button>

        <button nz-button nzType="primary" nzSize="small" (click)="done()" *ngIf="swicthStepCurrent === 3">
          <span>Done</span>
        </button>

      </div>
    </div>
  </div>
</nz-modal>
