<nz-modal [(nzVisible)]="projectModalIsVisible" nzClassName="project-modal" nzFooter="#nzModalFooter" nzWidth="700" nzClosable="false">


    <nz-spin nzTip="Setting up..." [nzSpinning]="switchingProjectInProcess">



      <ng-container>

        <!-- Search and Switch Project -->
        <div *ngIf="!showCreateProject && projectList && projectList.length>0" class="switch-project-view">

          <!-- search project -->
          <nz-form-item class="m-b-15 switch-search-box">
            <nz-form-control>
              <nz-input-group [nzPrefix]="prefixIconSearch" [nzSuffix]="suffixIconSearch">
                <input placeholder="Search Project" (ngModelChange)="changed()" [(ngModel)]="searchProjectText" nz-input nzSize="small" />
              </nz-input-group>
              <ng-template #prefixIconSearch>
                <img class="m-l-15" style="padding-bottom:2px;" src="../../../../assets/images/icons/search_switch_project.svg"  *ngIf="!isSearching">
                <span class="p-l-15"><i class="fas fa-spin fa-spinner" *ngIf="isSearching"></i></span>
              </ng-template>
              <ng-template #suffixIconSearch>
                <span class="text-gray-light-2 font-size-14 p-r-20">Ctrl / Cmd + j</span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

            <div class="horizontal-list">
              <h4 class="font-size-14 text-gray-light m-b-15">Recent Project</h4>

              <div class="recent-item" (click)="addNewProject()" style="margin-left:-12px;">
                <div class="project-box add-project">
                  <img src="../../../../assets/images/icons/icon_add_project.svg">
                </div>
                <div class="project-name-truncated text-black">Add New</div>
              </div>

              <div class="recent-item" (click)="switchProject(item)"
                   *ngFor="let item of projectList"
                   [ngStyle]="{'border': (currentProject && currentProject.id === item.id) ? '2px solid '+item.color+'' : '2px solid #fff'}"
                   nz-tooltip [nzTitle]="projectTooltip">

                  <div class="project-box text-uppercase"
                       [ngStyle]="{'background': item.color}"
                  >{{item.name | slice : 0:2}}</div>

                  <div class="project-name-truncated text-black">{{item.name}}</div>
                  <ng-template #projectTooltip>
                    <span>
                      <div>{{item.name}}</div>
                      <div class="font-size-11 text-white">Created at {{item.createdAt | dateAgo}}</div>
                      <div class="font-size-11 text-white"><span>by {{item.createdBy && item.createdBy.firstName ? item.createdBy.firstName : 'NA'}}</span></div>
                    </span>
                  </ng-template>
                </div>


            </div>

            <div class="all-search-projects">

                <h4 class="font-size-14 text-gray-light p-b-5 all-project-title m-0">All Projects</h4>

                <div class="search-list">

                  <ng-template #noResult>
                    <nz-empty
                      *ngIf="isProjectNotFound"
                      style="height:70px"
                      [nzNotFoundImage]="'../../../assets/images/not-found/no-data-found.svg'"
                      [nzNotFoundContent]="contentActivity"></nz-empty>
                    <ng-template #contentActivity>
                      <span>{{searchSatarted ? 'No data found' : 'You can search project'}}</span>
                    </ng-template>
                  </ng-template>

                    <nz-list [nzDataSource]="projectListSearch" [nzNoResult]="noResult" [nzRenderItem]="item1" [nzItemLayout]="'horizontal'">
                        <ng-template #item1 let-item>

                            <nz-list-item (click)="switchProject(item)">

                                <nz-list-item-meta [nzTitle]="nzTitle">
                                    <ng-template #nzTitle>
                                        <div class="project-header-title d-flex justify-content-between">

                                            <div class="d-flex">
                                              <nz-avatar [nzSize]="34" nzShape="square" class="m-r-10 text-uppercase"
                                                         nzText="{{item.name | slice : 0:2}}"
                                                         [ngStyle]="{'background': item.color}"
                                              ></nz-avatar>

                                              <div >
                                                <div class="text-black font-size-13" style="line-height: 15px;">{{item.name}}</div>
                                                <span class="font-size-10">
                                                  <span class="text-gray-light-2 font-weight-light">by </span>
                                                  <span class="text-gray-light-2 font-weight-semibold">{{item.createdBy && item.createdBy.firstName ? item.createdBy.firstName : item.createdBy.emailId }}</span>
                                                </span>
                                              </div>

                                            </div>


                                            <div class="float-right" style="display: inline-block; padding-top:6px;">
                                              <span class="font-size-11 text-gray-light-2 font-weight-light">Created <span class="font-weight-semibold">{{item.createdAt | dateAgo}}</span></span><br/>
                                            </div>
                                        </div>
                                    </ng-template>
                                </nz-list-item-meta>
                            </nz-list-item>

                        </ng-template>
                    </nz-list>
                </div>
            </div>
        </div>
        <!-- Search and Switch Project -->



        <!-- show Create Project form -->
        <div class="steps-action" *ngIf="showCreateProject">

            <div class="text-center m-t-20 text-black">
                <h4 class="m-0 text-black">Welcome to Assign.work</h4>
                <p *ngIf="switchStepCurrent===0" class="m-b-20 text-black">Wanna add your first project?</p>
                <p *ngIf="switchStepCurrent===1" class="m-b-20 text-black">Add or Invite project collaborators</p>
                <p *ngIf="switchStepCurrent===2" class="m-b-20 text-black">Select template for your Project</p>
            </div>

          <div class="p-l-40 p-r-40">
            <nz-steps [nzCurrent]="switchStepCurrent">
                <nz-step nzTitle="Project">Project</nz-step>
                <nz-step nzTitle="Collaborators">Collaborators</nz-step>
                <nz-step nzTitle="Template">Template</nz-step>
            </nz-steps>
          </div>

           <!--first-->
            <ng-container *ngIf="switchStepCurrent===0">
                <form nz-form class="register-form" [formGroup]="projectForm">

                    <div class="min-height-100 m-t-25">
                        <nz-form-item>
                            <nz-form-label nzRequired nzFor="name">Project Name<span class="text-danger">*</span></nz-form-label>
                            <nz-form-control [nzValidatingTip]="errorTpl">
                                <input nz-input formControlName="name" placeholder="Enter Project Name, eg : Food Application" autocomplete="Off" nzSize="small" id="name">
                                <nz-form-explain *ngIf="projectForm.get('name').dirty && projectForm.get('name').errors">
                                    Please Enter Project Name! <small class="text-muted"> (Allowed Alphanumeric only)</small>
                                </nz-form-explain>

                                <ng-template #errorTpl let-control>
                                    <ng-container *ngIf="projectForm.hasError('required')">
                                        Please Enter Project Name! <small class="text-muted"> (Allowed Alphanumeric only)</small>
                                    </ng-container>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label nzFor="description">Description</nz-form-label>
                            <nz-form-control>
                                <textarea formControlName="description" nz-input rows="3" placeholder="Write something about your project..."></textarea>
                            </nz-form-control>
                        </nz-form-item>

                    </div>
                </form>
            </ng-container>

            <!-- second-->
            <ng-container *ngIf="switchStepCurrent===1" class="h-100">

              <div class="min-height-100 m-t-25">
                <form nz-form [formGroup]="collaboratorForm">
                  <div class="form-group">

                    <nz-form-item class="m-b-5">
                      <nz-form-label nzRequired nzFor="name">Collaborators <small>(You can search or enter new email id to invite member)</small></nz-form-label>
                      <nz-form-control class="relative ">

                        <nz-input-group [nzSuffix]="suffixIconSearch">
                          <input placeholder="Search Collaborators" formControlName="collaborator" class="assigned-user-input" nz-input (ngModelChange)="selectAssigneeTypeahead($event)" nzSize="small" [nzAutocomplete]="autoAssignee" (keydown)="onKeydown($event)"/>
                        </nz-input-group>
                        <nz-autocomplete #autoAssignee>
                          <nz-auto-option *ngFor="let option of collaboratorsDataSource" [nzLabel]="option && option.firstName ? option.firstName : option.emailId" [nzValue]="option">
                            <nz-avatar class="m-r-10" [nzSrc]="option && option.profilePic ? option.profilePic : ''" [nzShape]="'circle'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>
                            <span>{{ option && option.firstName ? option.firstName : option.emailId }}</span>
                            <span *ngIf="option && option.lastName">{{ option && option.lastName }}</span>
                            <div *ngIf="option && option.firstName" style="margin-top: -6px;" class="p-l-35"><small class="text-muted">{{ option.emailId }}</small></div>
                          </nz-auto-option>
                        </nz-autocomplete>
                      </nz-form-control>
                      <ng-template #suffixIconSearch>
                        <i nz-icon nzType="search" *ngIf="!isSearching"></i>
                        <i class="fas fa-spin fa-spinner" *ngIf="isSearching"></i>
                      </ng-template>
                    </nz-form-item>

                    <div class="collaborators-badge m-b-15" *ngIf="selectedCollaborators && selectedCollaborators.length>0">
                          <span class="badge badge-secondary" *ngFor="let item of selectedCollaborators">
                            <nz-avatar *ngIf="item.id" nzSize="small" nzIcon="user" [nzSrc]="item.profilePic"></nz-avatar>
                            <i class="fa fa-envelope" *ngIf="!item.id"></i>
                            &nbsp;<span *ngIf="item.firstName">{{item.firstName}} {{item.lastName}}</span>
                            <span *ngIf="!item.firstName">{{item.emailId}}</span>
                            <i class="fa fa-times" (click)='removeCollaborators(item)'></i>
                          </span>
                    </div>

                    <nz-form-item *ngIf="!isCollaboratorExits && enableInviteBtn">
                      <button (click)="onKeydown($event, true)" [nzLoading]="addCollaboratorsInProcess" [disabled]="isCollaboratorExits" nz-button nzType="primary"
                              nzSize="small"><i nz-icon nzType="mail" theme="outline"></i> Invite
                      </button>
                    </nz-form-item>

                    <nz-form-explain class="text-danger" *ngIf="response && response.message">{{response.message}}</nz-form-explain>
                  </div>
                </form>
              </div>


<!--                <div class="min-height-100 m-t-25">-->

<!--                    <div class="form-group">-->
<!--                        <label>Collaborators</label>-->
<!--                        <div class="mb-1 collaborators-badge" *ngIf="selectedCollaborators && selectedCollaborators.length>0">-->
<!--                            <span class="badge badge-secondary" *ngFor="let item of selectedCollaborators">-->
<!--                              <nz-avatar *ngIf="item.id" nzSize="small" nzIcon="user" [nzSrc]="item.profilePic"></nz-avatar>-->
<!--                              <i class="fa fa-envelope" *ngIf="!item.id"></i>-->
<!--                              &nbsp;<span *ngIf="item.firstName">{{item.firstName}} {{item.lastName}}</span>-->
<!--                              <span *ngIf="!item.firstName">{{item.emailId}}</span>-->
<!--                              <i class="fa fa-times" (click)='removeCollaborators(item)'></i>-->
<!--                            </span>-->
<!--                        </div>-->

<!--                        <input autocomplete="Off" (typeaheadOnSelect)="typeaheadOnSelect($event)" [(ngModel)]="selectedCollaborator" [typeahead]="members" typeaheadOptionField="emailId" placeholder="Search or Invite people" (keydown)="onKeydown($event)" nz-input nzSize="small">-->
<!--                        <nz-form-explain class="text-danger" *ngIf="response && response.message">{{response.message}}</nz-form-explain>-->
<!--                    </div>-->
<!--                </div>-->
            </ng-container>

            <!--third-->
            <ng-container *ngIf="switchStepCurrent===2">
                <div class="min-height-100 m-t-25">
                    <p class="m-t-25 m-b-10 text-uppercase">Select template for your Project</p>
                    <div class="text-center">
                        <nz-radio-group [(ngModel)]="selectedTemplate" class="project-templates" [nzButtonStyle]="'solid'">
                            <label nz-radio-button nzValue="Software Development">
                              <img *ngIf="selectedTemplate!=='Software Development'" src="../../../../assets/images/icons/template_software.svg" alt="Software Development"/>
                              <img *ngIf="selectedTemplate==='Software Development'" src="../../../../assets/images/icons/template_software_white.svg" alt="Software Development"/>
                              <div>Software</div>
                            </label>
                            <label nz-radio-button nzValue="Task Management">
                              <img *ngIf="selectedTemplate!=='Task Management'" src="../../../../assets/images/icons/template_task_management.svg" alt="Task Management"/>
                              <img *ngIf="selectedTemplate==='Task Management'" src="../../../../assets/images/icons/template_task_management_white.svg" alt="Task Management"/>
                              <div>Task Management</div>
                            </label>
                            <label nz-radio-button nzValue="Accounts">
                              <img *ngIf="selectedTemplate!=='Accounts'" src="../../../../assets/images/icons/template_accounts.svg" alt="Accounts"/>
                              <img *ngIf="selectedTemplate==='Accounts'" src="../../../../assets/images/icons/template_accounts_white.svg" alt="Accounts"/>
                              <div>Accounts</div>
                            </label>
                            <label nz-radio-button nzValue="Production">
                              <img *ngIf="selectedTemplate!=='Production'" src="../../../../assets/images/icons/template_production.svg" alt="Production"/>
                              <img *ngIf="selectedTemplate==='Production'" src="../../../../assets/images/icons/template_production_white.svg" alt="Production"/>
                              <div>Production</div>
                            </label>
                        </nz-radio-group>
                    </div>
                </div>
            </ng-container>

        </div>


      </ng-container>


          <div *nzModalFooter>

            <ng-container>

              <div class="row">

                  <div class="col text-right">

                    <!-- cancel -->
                    <button *ngIf="!createdProjectId" nz-button nzType="default" nzSize="small" (click)="basicModalHandleCancel()" [disabled]="organizationCreationInProcess"><span>{{showCreateProject ? 'Cancel' : 'Close'}}</span></button>

                    <!-- <button *ngIf="createdProjectId" nz-button nzType="default" nzSize="small" (click)="basicModalHandleCancel()"><span>Close</span></button>-->
                    <!-- cancel btn end -->


                      <button nz-button nzType="primary" nzSize="small" class="m-r-5" (click)="pre()" *ngIf="showCreateProject && switchStepCurrent > 1 && !createdProjectId"><span>Previous</span></button>

                      <button nz-button nzType="default" nzSize="small" (click)="skip()" *ngIf="showCreateProject && switchStepCurrent === 1"><span>Skip</span></button>

                      <button nz-button nzType="primary" [disabled]="projectForm.invalid" nzSize="small" (click)="next()" *ngIf="showCreateProject && switchStepCurrent < 2" [nzLoading]="createProjectInProcess || addCollaboratorsInProcess"><span>Next</span></button>

                      <button nz-button nzType="primary" nzSize="small" (click)="addTemplate()" *ngIf="showCreateProject && switchStepCurrent === 2" [nzLoading]="selectTemplateInProcess"><span>Done</span></button>

                    <!-- <button *ngIf="!showCreateProject" nz-button nzShape="round" type="button" nzType="link" class="float-right" (click)="addNewProject()">+ Add New Project</button>-->

                  </div>
              </div>

            </ng-container>

          </div>


    </nz-spin>
</nz-modal>
