.ant-modal-body {
    padding-bottom: 0px;
}
.assigned-user-input {
  height: 36px;
}

.switch-project-view {
  margin: -16px;
  margin-bottom: 0px;

  .switch-search-box {

    .ant-input {
      font-size: 24px;
      padding: 1.5rem 75px;
      background: #F7F8FB;
      border: 0px!important;
      border-radius: 12px 12px 0px 0px;
    }
  }
  .horizontal-list {
    padding: 0px 32px;

    .recent-item {
      margin-right: 42px;
      display: inline-block;
      cursor: pointer;

      .project-box {
        width: 102px;
        height: 93px;
        border-radius: 8px;
        color: #fff;
        font-size: 21px;
        line-height: 93px;
        background: #2c7df6;
        text-align: center;
      }

      .project-box.add-project {
        border: 1px dashed #7A869A;
        background: #fff;
      }

      .project-name-truncated {
        text-align: center;
        width: 102px;
        min-width: 102px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-size: 1rem;
        margin-top: 12px;
      }
    }

    .recent-item:last-child {
      margin-right: 0px;
    }

  }
}

.all-search-projects {
  padding: 45px 32px 0px 32px;
  .all-project-title {
    border-bottom: 1px solid #DEDFE2;
  }
}

.search-list {
    overflow: auto;
    max-height: 191px;
    min-height: 191px;
  .ant-list-item{
    &:hover{
      cursor: pointer;
      box-shadow: 0px 0px 4px 0px #ddd;
    }
  }
  .ant-list-item-meta-title {
    margin-bottom: 0px!important;
  }
  .ant-list-split .ant-list-item {
    padding: 8px 0px;
    border-bottom: 1px solid #DEDFE2;
  }
}


.project-templates{
  width: 100%;
  img{
    margin-bottom: 10px;
  }
  div{
    font-size: 14px;
  }
  label {
    width: 24%;
    margin: .5%;
    border: 1px solid #DEDFE2;
    border-radius: 4px;
    color: #6E829C;
    background: #F8F8F8;
    padding: 15px 10px;
  }
  .ant-radio-button-wrapper-checked {
    color: #fff!important;
    background: #2680EB;
    border: 0px;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent;
  }
}

.steps-action {
  padding: 0px 16px;
}

.active-project {
  box-shadow: 0 5px 15px -8px #5f5f5fc4;
  cursor: not-allowed !important;
}
