<section class="notification-collapse">
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel
      *ngFor="let panel of projects; let isFirst = first"
      [nzHeader]="header"
      [nzActive]="panel.active"
      [ngStyle]="customStyle"
      [nzExpandedIcon]="'double-right'">

      <!-- content notifications list -->
      <div class="notification-list-container">

<!--          <div class="d-flex justify-content-between m-b-10 ">-->
<!--            <span>{{panel?.notificationCount}} {{panel?.notificationCount>1 ? 'Notifications' : 'Notification' }}</span>-->
<!--            <span class="cursor-pointer text-primary">read all</span>-->
<!--          </div>-->

          <ul class="m-0">
            <li class="d-flex justify-content-between" *ngFor="let item of notifications">
              <p>
                <img src="../../../../assets/images/icons/bell.svg" class="m-r-10" />
                <a href="{{item.url}}">{{item.name}}</a>
              </p>
            </li>
          </ul>

      </div>

      <ng-template #header let-active>
        <div class="d-flex justify-content-between">
          <span>{{ panel.name }}</span>
          <span class="text-red">{{panel.notificationCount}}</span>
        </div>
      </ng-template>

    </nz-collapse-panel>
  </nz-collapse>
</section>
