<section class="notification-collapse">
  <nz-collapse [nzBordered]="false">
    <nz-collapse-panel
      *ngFor="let project of projects; let isFirst = first"
      [nzHeader]="header"
      [nzActive]="project.active"
      [ngStyle]="customStyle"
      [nzExpandedIcon]="'double-right'">

      <!-- content notifications list -->
      <div class="notification-list-container">

        <nz-spin nzTip="getting notifications..." [nzSpinning]="isLoadingInProgress">
          <ul class="m-0">
            <li class="d-flex justify-content-between" *ngFor="let item of notifications">
              <p>
                <img src="../../../../assets/images/icons/bell.svg" class="m-r-10" />
                <a href="{{item.url}}">{{item.name}}</a>
              </p>
            </li>
          </ul>
        </nz-spin>

      </div>

      <ng-template #header let-active>
        <div class="d-flex justify-content-between" (click)="loadNotifications(project)">
          <span>{{ project.name }}</span>
          <span class="text-red">{{project.notificationCount}}</span>
        </div>
      </ng-template>

    </nz-collapse-panel>
  </nz-collapse>
</section>
