#profile-page {

  .right-30 {
    right:30px!important;
  }
  .ant-tabs-extra-content{
    line-height: initial!important;
  }
  .ant-card-body{
    padding: 0px;
  }
  .ant-tabs-nav .ant-tabs-tab-active {
    background: #f9f9f9;
  }
  .ant-tabs-bar {
    border-bottom: 0px;
  }
  .tab-btn{
    padding: 0px;
    li{
      display: inline-block;
      border-radius: 4px;
      margin-right: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      a {
        text-align: center;
        background: #ffffff!important;
        border: 0px solid #87878a;
        height: 95px;
        min-width: 124px;
        padding: 19px 5px 5px 5px !important;
        font-weight: 400;
        font-size: 14px;
        box-shadow: 0px 5px 15px -8px #5f5f5fc4;
        border-radius: 8px;
        color: #7A869A;
        &:hover{
          border: 0px solid #0053D1;
          background: #0053D1!important;
          color: #ffffff!important;
          i{
            color: #0053D1;
          }
        }
        div{
          margin-top: 14px;
        }
        img{
          height: 24px;
          width: 24px;
        }
        i {
          display: block!important;
          margin-bottom: 10px;
          color: #868383;
          font-size: 20px;
        }
      }
      .active{
        border: 0px solid #0667FB;
        background: #0667FB!important;
        color: #ffffff!important;
        i{
          color: #ffffff;
        }
      }
    }
  }

  /* profile tab */
  .avatar-box{
    cursor: pointer;
    position: relative;
    .uploading-box{
      display: block;
      position: absolute;
      bottom: 0px;
      text-align: center;
      height: 120px;
      width: 120px;
      align-items: center;
      background: rgba(11, 27, 49, 0.6);
      border-radius: 50%;
      border: 2px dotted #0fb7cc;
      color: #fff;
      font-size: 20px;
      padding-top: 42px;
      z-index: 11;
    }
    input{
      opacity: 0;
      position: absolute;
      cursor: pointer;
      left: 0;
      top: 0;
      height: 120px;
      width: 120px;
    }
    .camera-box{
      display: none;
    }
    &:hover .camera-box {
      display: block;
      position: absolute;
      bottom: 0px;
      text-align: center;
      height: 120px;
      width: 120px;
      align-items: center;
      background: #2c6d6d9e;
      border-radius: 50%;
      border: 2px dotted #0fb7cc;
      color: #fff;
      font-size: 20px;
      padding-top: 42px;
    }
  }



  @media screen and (max-width: 768px) {
    .tab-btn {
      li {
        margin-right: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
        a {
          height: auto;
          width: auto;
          padding: 1px 9px;
          font-size: 12px;
          line-height: 32px;
          border-radius: 1px;
          i {
            display: inline-block!important;
            margin-right: 2px;
            font-size: 13px;
          }
        }
      }
    }
  }

}

