<section id="profile-page">


  <nz-card>
    <div *ngIf="currentUser">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="d-md-flex align-items-center">
          <div class="text-center text-sm-leprojectListDataft avatar-box">

            <div class="uploading-box" *ngIf="uploadingImage">
              <span class="font-size-11">Uploading...</span>
            </div>

            <nz-avatar *ngIf="!previewImage" class="shadow-sm m-v-15" [nzSize]="120"
                       class="avatar-bg"
                       [nzText]="initialName"
                       nzSrc="{{currentUser.profilePic}}"></nz-avatar>

            <nz-avatar *ngIf="previewImage" class="shadow-sm m-v-15" [nzSize]="120"
                       class="avatar-bg"
                       [nzText]="initialName"
                       nzSrc="{{previewImage}}"></nz-avatar>

            <nz-upload class="upload-list-inline"
                       (nzChange)="handleChange($event)"
                       [nzAction]="attachementUrl"
                       [nzHeaders]="attachementHeader"
                       [nzMultiple]="false"
                       [nzShowUploadList]="false"
                       [(nzFileList)]="uploadedImages">
              <div class="camera-box">
                <i nz-icon nzType="camera" nzTheme="outline"></i>
              </div>
            </nz-upload>

          </div>
          <div class="text-center text-sm-left m-v-15 p-l-30">
            <h2 class="m-b-0">{{currentUser.firstName}} {{currentUser.lastName}}</h2>
            <p class="font-weight-semibold"> {{currentUser.emailId}}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  </nz-card>



  <nz-card [nzTooltipTitle]="templateTitle" *ngIf="isShowChangePassword">

    <ng-template #templateTitle>
      Change Password
      <img src="../../../assets/images/icons/info.svg" height="16" nz-tooltip [nzTooltipTitle]="templateTitleText"/>
    </ng-template>
    <ng-template #templateTitleText>
      Change Password
    </ng-template>

    <section class="row">
      <aside class="col-md-4">

        <form nz-form class="register-form" [formGroup]="passwordForm">
          <nz-form-item>
            <nz-form-label>Current Password</nz-form-label>
            <nz-form-control nzErrorTip="Please enter current password">
              <input
                autocomplete="Off"
                formControlName="currentPassword"
                maxlength="50"
                type="password"
                placeholder="Current Password"
                nz-input nzSize="small"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>New Password<span class="text-danger">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please enter new password">
              <input
                autocomplete="Off"
                formControlName="newPassword"
                type="password"
                placeholder="New password"
                maxlength="50"
                nz-input nzSize="small"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Confirm Password<span class="text-danger">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please enter confirm password">
              <input
                autocomplete="Off"
                formControlName="confirmPassword"
                type="password"
                maxlength="50"
                placeholder="Confirm Password"
                nz-input nzSize="small"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>

            <p *ngIf="passwordForm.errors?.notSame" class="text-danger">New password and Confirm password is not matching.</p>

            <button (click)="save()" [disabled]="passwordForm.invalid" [nzLoading]="updateRequestInProcess"
                    nz-button nzType="primary"
                    nzSize="small"> Save
            </button>
          </nz-form-item>

        </form>
      </aside>
    </section>

  </nz-card>

</section>
