<section id="profile-page">


  <nz-card>
    <div *ngIf="currentUser">
    <div class="row align-items-center">
      <div class="col-md-7">
        <div class="d-md-flex align-items-center">
          <div class="text-center text-sm-left avatar-box">

            <div class="uploading-box" *ngIf="uploadingImage">
              <span class="font-size-11">Uploading...</span>
            </div>

            <nz-avatar *ngIf="!previewImage" class="shadow-sm m-v-15" [nzSize]="120"
                       class="avatar-bg"
                       [nzText]="initialName"
                       nzSrc="{{currentUser.profilePic}}"></nz-avatar>

            <nz-avatar *ngIf="previewImage" class="shadow-sm m-v-15" [nzSize]="120"
                       class="avatar-bg"
                       [nzText]="initialName"
                       nzSrc="{{previewImage}}"></nz-avatar>

            <nz-upload class="upload-list-inline"
                       (nzChange)="handleChange($event)"
                       [nzAction]="attachementUrl"
                       [nzHeaders]="attachementHeader"
                       [nzMultiple]="false"
                       [nzShowUploadList]="false"
                       [(nzFileList)]="uploadedImages">
              <div class="camera-box">
                <i nz-icon nzType="camera" theme="outline"></i>
              </div>
            </nz-upload>

          </div>
          <div class="text-center text-sm-left m-v-15 p-l-30">
            <h2 class="m-b-5">{{currentUser.firstName}} {{currentUser.lastName}}</h2>
            <p *ngIf="currentUser && currentUser.username" class="text-opacity font-size-13">{{currentUser.username}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="d-md-block d-none border-left col-1"></div>
          <div class="col">
            <ul class="list-unstyled m-t-10">
              <li class="row">
                <p class="col-sm-3 col-4 font-weight-semibold text-dark m-b-5">
                  <i class="m-r-10 text-primary" nz-icon nzType="mail" theme="outline"></i>
                  <span>Email: </span>
                </p>
                <p class="col font-weight-semibold"> {{currentUser.emailId}}</p>
              </li>
              <li class="row">
                <p class="col-sm-3 col-4 font-weight-semibold text-dark m-b-5">
                  <i class="m-r-10 text-primary" nz-icon nzType="phone" theme="outline"></i>
                  <span>Phone: </span>
                </p>
                <p class="col font-weight-semibold"> {{currentUser.mobileNumber}}</p>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  </nz-card>



  <nz-card [nzTitle]="templateTitle" *ngIf="isShowChangePassword">

    <ng-template #templateTitle>
      Change Password
      <img src="../../../assets/images/icons/info.svg" height="16" nz-tooltip [nzTitle]="templateTitleText"/>
    </ng-template>
    <ng-template #templateTitleText>
      Change Password
    </ng-template>

    <section class="row">
      <aside class="col-md-4">

        <form nz-form class="register-form" [formGroup]="passwordForm">
          <nz-form-item>
            <nz-form-label>Current Password</nz-form-label>
            <nz-form-control nzErrorTip="Please enter current password">
              <input
                autocomplete="Off"
                formControlName="currentPassword"
                maxlength="50"
                type="password"
                placeholder="Current Password"
                nz-input nzSize="small"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>New Password<span class="text-danger">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please enter new password">
              <input
                autocomplete="Off"
                formControlName="newPassword"
                type="password"
                placeholder="New password"
                maxlength="50"
                nz-input nzSize="small"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Confirm Password<span class="text-danger">*</span></nz-form-label>
            <nz-form-control nzErrorTip="Please enter confirm password">
              <input
                autocomplete="Off"
                formControlName="confirmPassword"
                type="password"
                maxlength="50"
                placeholder="Confirm Password"
                nz-input nzSize="small"/>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>

            <p *ngIf="passwordForm.errors?.notSame" class="text-danger">New password and Confirm password is not matching.</p>

            <button (click)="save()" [disabled]="passwordForm.invalid" [nzLoading]="updateRequestInProcess"
                    nz-button nzType="primary"
                    nzSize="small"> Save
            </button>
          </nz-form-item>

        </form>
      </aside>
    </section>

  </nz-card>




  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <nz-card *ngIf="skillListData && skillListData.length>0">

          <h5>Specialilty</h5>
          <div class="m-t-20" style="overflow: auto; max-height: 235px; min-height: 235px;">
            <nz-tag *ngFor="let item of skillListData">{{item}}</nz-tag>
          </div>
          <hr>

        </nz-card>

      </div>
      <div class="col-md-4" *ngIf="projectListData && projectListData.length>0">
        <nz-card>
          <h5>Projects</h5>
          <div class="m-t-20" style="overflow: auto; max-height: 300px; min-height: 300px;">
            <div class="m-b-10 p-b-10 border-bottom" *ngFor="let item of projectListData">
              <div class="media align-items-center">
                <nz-avatar class="shadow-smm-r-10" nzText="AW"></nz-avatar>
                <div class="media-body m-l-10">
                  <h5 class="m-b-0">
                    <span class="text-dark">{{item.name}}</span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </nz-card>
      </div>
    </div>
  </div>


