<nz-spin nzTip="Loading..." [nzSpinning]="getTaskInProcess">
  <nz-card
    nzSize="small"
    [nzBordered]="false"
    [nzTitle]="titleTemplateRef"
    [nzExtra]="createSprintBtnTemplate">
    <ng-template #titleTemplateRef>

      <span class="p-r-30">
        <span class="p-r-15 font-size-18 text-black">Backlog/Sprint</span>
        <img src="../../../assets/images/icons/info.svg" height="16" nz-tooltip nzTooltipTitle="About Backlog page..."/>
      </span>

      <span class="badge backlog-badge">
        <span class="text-red">Total Backlogs</span><span class="p-l-5 text-black">{{durationData?.readable}}</span>
      </span>


    </ng-template>
    <ng-template #createSprintBtnTemplate>

      <button [disabled]="isDisabledCreateBtn" [nzLoading]="publishSprintInProcess" nzType="primary" nzSize="small" class="btn-medium" nz-button (click)="publishSprint()">Publish Sprint</button>

    </ng-template>


    <section class="m-b-20">
      <div class="clearfix m-b-10" *ngIf="sprintData && sprintData.id">

          <span class="font-size-14 font-weight-light">
            <span class="font-size-18 m-r-30 text-black font-weight-normal">{{sprintData.name}}</span>
            <span class="text-success m-r-25" *ngIf="draftSprint && draftSprint.durationReadable"><span>Total</span><span class="p-l-5 font-weight-normal">{{draftSprint?.durationReadable}}</span></span>
            <span class="text-gray-light">Capacity <span class="text-black font-weight-normal">120h 30m</span></span>
          </span>

          <span class="float-right font-weight-light" >
            <a href="javascript:void(0);" (click)="editSprint()" class="p-r-25">Edit Sprint </a>
            <a href="javascript:void(0);" (click)="showTeamCapacity()">Edit Capacity </a>
          </span>

      </div>
      <div class="draft-sprint-box" *ngIf="!sprintModalIsVisible && sprintData && sprintData.id && draftData && draftData.length===0">
          <nz-empty
            [nzNotFoundImage]="false"
            [nzNotFoundContent]="contentTpl"
            [nzNotFoundFooter]="footerTpl">
            <ng-template #contentTpl>
              <span>Select backlog items to move into <strong>{{sprintData.name}}</strong></span>
            </ng-template>
            <ng-template #footerTpl>
              <button nz-button nzSize="small" nzType="primary" class="btn-medium" (click)="editSprint()">Edit {{sprintData.name}}</button>
            </ng-template>
          </nz-empty>
      </div>
      <ng-container *ngIf="draftData && draftData.length>0">
        <div>
            <aavantan-task-list
              [taskByUser]="'all'"
              [taskList]="draftData"
              [view]="view"
              [showLogOption]="false"
              [showCheckboxOption]="false"
              [showProgressOption]="false"
            ></aavantan-task-list>
        </div>
      </ng-container>
      <ng-container *ngIf="!sprintModalIsVisible && sprintData && !sprintData.id && draftData && draftData.length===0">
        <nz-empty
          class="draft-sprint-box p-20"
          [nzNotFoundImage]="false"
          [nzNotFoundContent]="contentTpl"
          [nzNotFoundFooter]="footerTpl">
          <ng-template #contentTpl>
            <span class="font-size-16">You have <span class="text-danger">16 task</span> in backlog</span>
          </ng-template>
          <ng-template #footerTpl>
            <button nz-button nzSize="small" nzType="primary" class="btn-medium" (click)="startNewSprint()">+ Create Sprint</button>
          </ng-template>
        </nz-empty>
      </ng-container>

    </section>
    <section>
      <label class="font-size-18"><span class="text-black">Backlogs</span> <small class="p-l-25 font-size-14"><span class="text-gray-light">Total </span><span class="text-black">{{durationData?.readable}}</span></small></label>
      <ng-container *ngIf="allTaskList && allTaskList.length > 0">
        <aavantan-task-list
          [taskByUser]="'all'"
          [taskList]="allTaskList"
          [view]="view"
          [showLogOption]="false"
          [showCheckboxOption]="true"
          [showProgressOption]="false"
          (tasksSelectedForDraftSprint)="getTasksSelectedForSprint($event)"
        ></aavantan-task-list>
      </ng-container>
    </section>
  </nz-card>
</nz-spin>

<aavantan-team-capacity
  [teamCapacityModalIsVisible]="teamCapacityModalIsVisible"
  (toggleShow)="showTeamCapacity()">
</aavantan-team-capacity>

<aavantan-app-add-sprint
  [sprintData]="sprintData"
  [sprintModalIsVisible]="sprintModalIsVisible"
  (toggleShow)="showTeamCapacity()">
</aavantan-app-add-sprint>
