.draft-sprint-box{
  padding: 25px 10px;
  border: 1px solid #F9F9F9;
  border-radius: 4px;
  background: #F9F9F9;
  min-height: 165px;
  .steps-content{
    min-height: 60px;
  }

  .ant-input-sm.team-list-input {
    padding: 3px 8px;
    border-radius: 2px;
  }

  .ant-list-item{
    background: #ffffff;
    display: block;
    padding: 5px;
  }
}

.backlog-badge {
  padding: 6px 16px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 15px;
  background: #FFF0DF;
  color: #EF1B1B;
}
