<nz-card
  nzSize="small"
  [nzBordered]="false"
  nzTitle="Backlogs/Sprint"
  [nzExtra]="createSprintBtnTemplate">
  <ng-template #createSprintBtnTemplate>
    <button *ngIf="draftSprint && draftSprint.duration>0" nz-button class="bg-success m-r-5 text-white" nzSize="small" nzShape="round">
      Ready for Sprint: {{draftSprint?.duration}} hrs
    </button>
    <button nz-button class="bg-warning m-r-35 text-white" nzSize="small" nzShape="round">
      Total Backlogs: {{totalDuration}} hrs
    </button>
    <nz-button-group>
      <button [disabled]="isDisabledCraeteBtn" nzType="primary" nzSize="small" nz-button (click)="createSprint()">Create Sprint</button>
    </nz-button-group>
  </ng-template>


  <section class="m-b-20">
    <div class="clearfix" *ngIf="sprintData && sprintData.id">
    <label>{{sprintData.title}} | <span class="text-warning">Total: {{draftSprint?.duration ? draftSprint?.duration : 0}} hrs</span></label>
    <a href="javascript:void(0);" class="float-right" (click)="showTeamCapacity()">Team Capacity</a>
    </div>
    <div class="draft-sprint-box" *ngIf="!showStartWizard && sprintData && sprintData.id && draftData && draftData.length===0">
        <nz-empty
          [nzNotFoundImage]="'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'"
          [nzNotFoundContent]="contentTpl"
          [nzNotFoundFooter]="footerTpl">
          <ng-template #contentTpl>
            <span>Select backlog items to move into <strong>{{sprintData.title}}</strong></span>
          </ng-template>
          <ng-template #footerTpl>
            <button nz-button nzSize="small" nzType="primary" (click)="editSprint()">Edit {{sprintData.title}}</button>
          </ng-template>
        </nz-empty>
    </div>
    <ng-container *ngIf="draftData && draftData.length>0">
      <div>
          <aavantan-task-list
            [taskByUser]="'all'"
            [taskList]="draftData"
            [view]="view"
            [showLogOption]="false"
            [showCheckboxOption]="false"
            [showProgressOption]="false"
          ></aavantan-task-list>
      </div>
    </ng-container>
    <ng-container *ngIf="!showStartWizard && sprintData && !sprintData.id && draftData && draftData.length===0">
      <nz-empty
        class="draft-sprint-box p-20"
        [nzNotFoundImage]="'https://gw.alipayobjects.com/mdn/miniapp_social/afts/img/A*pevERLJC9v0AAAAAAAAAAABjAQAAAQ/original'"
        [nzNotFoundContent]="contentTpl"
        [nzNotFoundFooter]="footerTpl">
        <ng-template #contentTpl>
          <span>Click to setup your new <strong>Sprint</strong></span>
        </ng-template>
        <ng-template #footerTpl>
          <button nz-button nzSize="small" nzType="primary" (click)="startNewSprint()">Create New Sprint</button>
        </ng-template>
      </nz-empty>
    </ng-container>
    <ng-container *ngIf="showStartWizard">
      <section class="draft-sprint-box">

        <div class="offset-md-4 col-md-4 col-sm-12">
          <nz-steps [nzCurrent]="wizardIndex">
            <nz-step nzTitle="Title and Duration"></nz-step>
            <nz-step nzTitle="Team"></nz-step>
          </nz-steps>
        </div>

        <div class="steps-content m-t-15 m-b-15">
          <ng-container *ngIf="wizardIndex===0">
            <form nz-row>
              <div class="offset-md-4 col-md-4 col-sm-12">
                <nz-form-item>
                  <nz-form-label>Title</nz-form-label>
                  <input nz-input placeholder="Enter Sprint Title" nzSize="small" maxlength="100"/>
                  </nz-form-item>
                <nz-form-item>
                <nz-form-label>Duration (Start - End Date)</nz-form-label>
                  <div class="sprint-duration-datepicker">
                      <nz-range-picker [nzFormat]="dateFormat"></nz-range-picker>
                  </div>
                </nz-form-item>
              </div>
            </form>
          </ng-container>
          <ng-container *ngIf="wizardIndex===1">
            <div nz-row>
              <div class="offset-md-4 col-md-4 col-sm-12">
                <div class="p-10 bg-white">
                  <label>Fill estimated  working hours to each team members (eg:40)</label>
                  <nz-list [nzDataSource]="projectTeams" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
                    <ng-template #item let-item>
                      <nz-list-item>
                        <div class="row">
                          <div class="col-9">
                            <nz-avatar nzSize="small" nzSrc="{{item.profilePic}}"></nz-avatar> {{item.firstName}}
                          </div>
                          <div class="col-3">
                            <input nz-input placeholder="Hours" class="team-list-input" value="40" nzSize="small" maxlength="3"/>
                          </div>
                        </div>
                      </nz-list-item>
                    </ng-template>
                  </nz-list>
                  <div class="row">
                    <div class="col-12 text-right">
                      <div class="p-5"><label>Total Hours: 120</label></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

        </div>

        <div class="steps-action text-right">
          <div nz-row>
            <div class="offset-md-4 col-md-4 col-sm-12">
              <button class="btn btn-sm btn-default float-left" (click)="cancel()">
                <span>Cancel</span>
              </button>
              <button class="btn btn-sm btn-default" (click)="pre()" *ngIf="wizardIndex > 0">
                <span>Previous</span>
              </button>
              <button class="btn btn-sm btn-warning m-l-5" (click)="next()" *ngIf="wizardIndex < 1">
                <span>Next</span>
              </button>
              <button class="btn btn-sm btn-success m-l-5" (click)="done()" *ngIf="wizardIndex === 1">
                <span>Done</span>
              </button>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </section>
  <section>
    <label>Backlogs | <span class="text-warning">Total: {{totalDuration}} hrs</span></label>
    <ng-container *ngIf="allTaskList && allTaskList.length > 0">
      <aavantan-task-list
        [taskByUser]="'all'"
        [taskList]="allTaskList"
        [view]="view"
        [showLogOption]="false"
        [showCheckboxOption]="true"
        [showProgressOption]="false"
        (tasksSelectedForDraftSprint)="getTasksSelectedForSprint($event)"
      ></aavantan-task-list>
    </ng-container>
  </section>
</nz-card>



<aavantan-team-capacity
  [teamCapacityModalIsVisible]="teamCapacityModalIsVisible"
  (toggleShow)="showTeamCapacity()">
</aavantan-team-capacity>
