.assigned-user-icon {
  position: absolute;
  z-index: 1;
  left: 6px;
  top: 5px;
}

.assigned-user-input {
  padding-left: 28px !important;
}

.status-list {
  max-height: 350px;
  overflow-y: auto;
  .item {
    padding: 13px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
    background: #F1F2F4;
    border: 1px solid #f1f1f1;
    i {
      cursor: pointer;
    }
    &:hover {
      background: #f5f5f5;
    }
  }

  .item.bg-white {
    box-shadow: 0px 1px 5px #0000001A;
  }
}
