<nz-modal [(nzVisible)]="organizationModalIsVisible" [nzTitle]="modalTitle" nzClassName="organisation-modal"
          nzFooter="#nzModalFooter" nzWidth="600" nzClosable="false">

  <div *ngIf="!showCreateOrg && organizations && organizations.length>0" style="height:350px;overflow: auto;">

    <h5>Switch Organisation</h5>
    <hr class="m-t-10 m-b-10">
    <nz-list [nzDataSource]="organizations" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-item>
        <a class="font-size-15" href="javascript:void(0);" (click)="selectOrg(item)">
          <nz-list-item>
            <nz-list-item-meta
              [nzTitle]="nzTitle">
              <ng-template #nzTitle>
                <nz-avatar class="m-r-10" nzText="AW"></nz-avatar>
                {{item.name}}
              </ng-template>
            </nz-list-item-meta>
          </nz-list-item>
        </a>
      </ng-template>
    </nz-list>

  </div>


  <form nz-form class="register-form" [formGroup]="orgForm" *ngIf="showCreateOrg">

    <ng-container *ngIf="organizations?.length>0">

      <nz-list [nzDataSource]="organizations" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">

        <ng-template #item let-item>
          <a class="font-size-15" (click)="selectOrg(item)">
            <nz-list-item class="p-l-20">
              <nz-list-item-meta
                [nzTitle]="nzTitle"
                nzAvatar="assets/images/others/thumb-2.jpg"
                nzDescription="{{item.owner}}">
                <ng-template #nzTitle>
                  <span class="font-size-15">{{item.name}}</span>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </a>
        </ng-template>

      </nz-list>

    </ng-container>

    <ng-container *ngIf="organizations?.length===0">

      <form nz-form class="register-form" [formGroup]="orgForm">

        <nz-form-item>
          <nz-form-label nzRequired nzFor="name">Organization Name</nz-form-label>
          <nz-form-control [nzValidatingTip]="errorTpl">
            <input nz-input formControlName="name" placeholder="Enter an Organization Name, eg: Facebook" maxlength="100"
                   autocomplete="Off" nzSize="small" id="name">
            <ng-template #errorTpl let-control>
              <ng-container *ngIf="orgForm.hasError('required')">
                Please Enter Organization Name! <small class="text-muted"> (Allowed Alphanumeric only)</small>
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzRequired nzFor="description">Description</nz-form-label>
          <nz-form-control>
            <textarea nz-input rows="3" placeholder="Write something about your Organization..."
                      formControlName="description" maxlength="500" autocomplete="Off" nzSize="small"
                      id="description"></textarea>
          </nz-form-control>
        </nz-form-item>

      </form>
    </ng-container>

  </form>

  <div *nzModalFooter>

    <div class="row">
      <div class="col text-left">
        <button nz-button nzType="default" nzSize="small" (click)="closeModal()">
          <span>Cancel</span>
        </button>
      </div>

      <div class="col">
        <button *ngIf="showCreateOrg" [disabled]="orgForm.invalid" nz-button nzType="primary" nzSize="small" [nzLoading]="organizationCreationInProcess" (click)="saveForm()">
          <span>Save</span>
        </button>

        <button *ngIf="!showCreateOrg"  nz-button nzType="primary" class="float-right" nzSize="small" (click)="addNewOrg()">+ Add New Organisation</button>

      </div>

    </div>
  </div>
</nz-modal>
