.ant-list-item{
  padding: 7px;
  &:hover{
    background: #f3f3f3;
  }
}

.search-list {
  overflow: auto;
  max-height: 310px;
  .ant-list-item{
    &:hover{
      cursor: pointer;
      box-shadow: 0px 0px 4px 0px #ddd;
    }
  }
}

.search-list .ant-list-split .ant-list-item {
  padding: 3px;
  border: 1px #ddd solid;
  margin-bottom: 4px;
  border-radius: 4px;
}
