<nz-modal [(nzVisible)]="epicModalIsVisible" [nzTitle]="titleTemp" nzClassName="time-log-modal" nzFooter="nzModalFooter" nzWidth="600" nzClosable="false">
  <form  nz-form class="bg-white create-task-form task-sections" [formGroup]="epicForm" (ngSubmit)="saveForm()" autocomplete="off">
    <div>
      <div class="row row-1">
        <div class="col-md-4">
          <nz-form-item>
            <nz-form-label nzFor="taskType">Epic Type<span class="text-danger">*</span></nz-form-label>
            <nz-form-control class="issue-type-btn-grp" nzValidatingTip="Please select task type!">
              <nz-button-group nz-dropdown [nzDropdownMenu]="createTaskType" nzPlacement="bottomLeft" style="width: 100%!important;">
                <button type="button" nzType="default" nzSize="small" class="ddls-btn" nz-button style="width: 100%!important;">
                  <span class="fas fa-circle m-r-5" [ngStyle]="{'color':selectedTaskType.color}"></span>
                  {{selectedTaskType.name}} <i nz-icon nzType="caret-down" nzTheme="outline"></i>
                </button>
              </nz-button-group>
              <nz-dropdown-menu #createTaskType="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item *ngFor="let item of taskTypeDataSource" (click)="selectTaskType(item)">
                    <i class="fas fa-circle m-r-10" [ngStyle]="{'color':item.color}"></i> {{ item.name }}
                  </li>
                </ul>
              </nz-dropdown-menu>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="title">Title<span class="text-danger">*</span></nz-form-label>
            <nz-form-control nzValidatingTip="Please enter task title">
              <input placeholder="Enter Task Title" formControlName="name" nz-input nzSize="small" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <nz-form-item>
            <nz-form-label nzFor="watchers">Watchers</nz-form-label>
            <nz-form-control>
              <nz-input-group [nzSuffix]="suffixIconSearchWatchers">

                <nz-select
                  nzSize="small"
                  nzShowSearch
                  nzAllowClear
                  nzServerSearch
                  nzPlaceHolder="Search/Select watcher"
                  nzMode="multiple"
                  [(ngModel)]="listOfSelectedWatchers"
                  formControlName="watchers"
                  [nzShowArrow]="false"
                  [nzFilterOption]="nzFilterOption"
                  (nzOnSearch)="searchWatchers($event)">
                  <nz-option *ngFor="let option of assigneeDataSource"  nzCustomContent [nzLabel]="option.firstName ? option.firstName : option.emailId" [nzValue]="option.id ? option.id : ''">
                    <nz-avatar class="m-r-10" [nzSrc]="option && option.profilePic ? option.profilePic : ''" [nzShape]="'circle'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar> <span>{{option.firstName ? option.firstName : option.emailId}}</span>
                  </nz-option>
                </nz-select>
              </nz-input-group>

            </nz-form-control>

            <ng-template #suffixIconSearchWatchers>
              <i nz-icon nzType="search" *ngIf="!isSearchingWatchers"></i>
              <i class="fas fa-spin fa-spinner" *ngIf="isSearchingWatchers"></i>
            </ng-template>

          </nz-form-item>
        </div>
        <div class="col-md-6">
          <nz-form-item class="relative">
            <a href="javascript:void(0);"><small class="text-info float-right" (click)="assignedToMe()">Assign to Me</small></a>
            <nz-form-label nzFor="taskType">Assigned To<span class="text-danger">*</span></nz-form-label>
            <nz-form-control class="relative">
                                <span class="assigned-user-icon">
                              <nz-avatar [nzSize]="16" nzIcon="user" [nzSrc]="selectedAssignee ? selectedAssignee.profilePic : null" ></nz-avatar>
                            </span>
              <nz-input-group [nzSuffix]="suffixIconSearch">
                <input placeholder="Search Assignee" formControlName="assigneeId" class="assigned-user-input" nz-input (ngModelChange)="selectAssigneeTypeahead($event)" nzSize="small" [nzAutocomplete]="autoAssignee" />
              </nz-input-group>
              <nz-autocomplete #autoAssignee>
                <nz-auto-option *ngFor="let option of assigneeDataSource" [nzLabel]="option && option.firstName ? option.firstName : option.emailId" [nzValue]="option">
                  <nz-avatar class="m-r-10" [nzSrc]="option && option.profilePic ? option.profilePic : ''" [nzShape]="'circle'" [nzSize]="'small'" [nzIcon]="'user'"></nz-avatar>
                  <span>{{ option && option.firstName ? option.firstName : option.emailId }}</span>
                  <span *ngIf="option && option.lastName">{{ option && option.lastName }}</span>
                  <div *ngIf="option && option.firstName" style="margin-top: -6px;" class="p-l-35"><small class="text-muted">{{ option.emailId }}</small></div>
                </nz-auto-option>
              </nz-autocomplete>
            </nz-form-control>
            <ng-template #suffixIconSearch>
              <i nz-icon nzType="search" *ngIf="!isSearchingAssignee"></i>
              <i class="fas fa-spin fa-spinner" *ngIf="isSearchingAssignee"></i>
            </ng-template>
          </nz-form-item>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nz-form-item>
            <nz-form-label nzFor="description">Description</nz-form-label>
            <nz-form-control>
              <editor apiKey="2glbfd5m3zwpf1ckd1sj39gkmufrhyqb29lyfmftbszq29qv" formControlName="description" [init]="{plugins: 'link', menubar:false, statusbar: false}"></editor>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

    </div>
    <div *nzModalFooter>
      <button nz-button nzSize="small" nzType="default" type="reset" (click)="handleCancel()">Cancel</button>
      <button nz-button nzSize="small" nzType="primary" type="submit" [nzLoading]="addEpicInProcess" (click)="saveForm()">Save</button>
    </div>
    <ng-template #titleTemp>
      <span>NEW EPIC</span>
    </ng-template>
  </form>
</nz-modal>
